@model UPExciseLTE.Models.LoginModal

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (ViewBag.ErrMessage != null)
    {
        <script>
        alert('@ViewBag.ErrMessage');
        </script>
    }
}


        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption ">
                            <i class="icon-settings font-green-haze"></i>
                            Change Password
                        </div>

                    </div>
                    <div class="portlet-body form">
                        <div class="form-group">
                            @*<h4>Horizontal Form With Icons</h4>*@
                            <div class="form-group">
                                @using (Html.BeginForm("ChangePassword", "Login",
                                        //new { ReturnUrl = ViewBag.ReturnUrl },
                                        FormMethod.Post, new { @class = "form-horizontal margin-bottom-40" }))
                                {
                                    @Html.AntiForgeryToken()


                                    <div class="form-group form-md-line-input">
                                        <label for="inputPassword1" class="col-md-2 control-label">Old Password</label>
                                        <div class="col-md-4">
                                            <div class="input-icon right">
                                                @Html.PasswordFor(a => a.OldPassword_CHG, new { placeholder = Html.DisplayNameFor(n => n.OldPassword_CHG), @class = "form-control", @id = "txtoldpassword" })
                                                @Html.ValidationMessageFor(a => a.OldPassword_CHG)
                                                <div class="form-control-focus"> </div>
                                                <i class="fa fa-key"></i>
                                            </div>

                                            <div class="help-block"> with right aligned icon </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <label for="inputPassword1" class="col-md-2 control-label">New Password</label>
                                        <div class="col-md-4">
                                            <div class="input-icon right">
                                                @Html.PasswordFor(a => a.NewPassword_CHG, new { placeholder = Html.DisplayNameFor(n => n.NewPassword_CHG), @class = "form-control", @id = "txtnewpassword" , @maxlength = "12" })
                                                @Html.ValidationMessageFor(a => a.NewPassword_CHG)
                                                <div class="form-control-focus"> </div>
                                                <i class="fa fa-key"></i>
                                            </div>
                                            <div class="help-block"> with right aligned icon </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <label for="inputPassword1" class="col-md-2 control-label">Confirm New Password</label>
                                        <div class="col-md-4">
                                            <div class="input-icon right">
                                                @Html.PasswordFor(a => a.ConfirmPassword_CHG, new { placeholder = Html.DisplayNameFor(n => n.ConfirmPassword_CHG), @class = "form-control", @id = "txtconfirmpassword" ,@maxlength="12"})
                                                @Html.ValidationMessageFor(a => a.ConfirmPassword_CHG)
                                                <div class="form-control-focus"> </div>
                                                <i class="fa fa-key"></i>
                                            </div>
                                            <div class="help-block"> with right aligned icon </div>
                                        </div>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <div class="col-md-offset-2 col-md-10">
                                            <button type="submit" class="btn blue" value="ChangePassword" onclick="return Checkpassword();">Change Password</button>
                                        </div>

                                    </div>
                                }



                            </div>

                        </div>
                    </div>




                    <!-- END SAMPLE FORM PORTLET-->
                </div>
            </div>
            <table align="center">
                <tr>

                    <td style="font-weight: 700; font-size: 14px; text-align: left; color: #CC3300; width: auto">
                        (1) Password must have at least 6 characters and maximum of 12 characters with
                        <br />
                        (2) At least one Capital letter and one Lower-case letter and
                        <br />
                        (3) At least one number.
                        <br />
                        (4) Atlest One Special character.
                        <br />
                        (5) List of allowed special characters <span id="Label2"
                                                                     style="font-weight: 700; font-size: 10px; text-align: left; color: #CC3300;"></span><br />
                    </td>
                </tr>
            </table>
        </div>
        <script>
            function Checkpassword() {
                var txtoldpassword = $('#txtoldpassword').val();
                var txtnewpassword = $('#txtnewpassword').val();
                var txtconfirmpassword = $('#txtconfirmpassword').val();
                var anUpperCase = /[A-Z]/;
                var aLowerCase = /[a-z]/;
                var aNumber = /[0-9]/;
                var aSpecial = /[!|#|%|^|*|-|_|@@]/;
                var value = $('#txtconfirmpassword').val();
                var value2 = $('#txtnewpassword').val();

                if (value2.length > 20 || value2.length < 8) {
                    alert("Please length policy not matched.");
                    event.preventDefault();
                    return false;
                }

                if (value2.search(anUpperCase) == -1 ||
                    value2.search(aLowerCase) == -1 || value2.search(aNumber) == -1 || value2.search(aSpecial) == -1) {
                    $('#txtnewpassword').val('');
                    alert("Please check the password policy.");
                    event.preventDefault();
                    return false;
                }

                if (value.length > 20 || value.length < 8) {
                    alert("Please length policy not matched.");
                    event.preventDefault();
                    return false;
                }

                if (value.search(anUpperCase) == -1 ||
                    value.search(aLowerCase) == -1 || value.search(aNumber) == -1 || value.search(aSpecial) == -1) {
                    $('#txtconfirmpassword').val('');
                    alert("Please check the password policy.");
                    event.preventDefault();
                    return false;
                }



                if (txtnewpassword == txtconfirmpassword) {
                    return true;
                }
                else {
                    alert('New Password and Confirm New Password does not Matched..');
                    event.preventDefault();
                    return false;
                }
                if (txtoldpassword == txtnewpassword) {
                    return true;
                }
                else {
                    alert('Your new Password mathced with old password Please change new password. ?');
                    event.preventDefault();
                    return false;
                }


            }

        </script>

