@model UPExciseLTE.Models.LoginModal

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (ViewBag.ErrMessage != null)
    {
        <script>
        alert('@ViewBag.ErrMessage');
        </script>
    }
}


<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box green ">
            <div class="portlet-title">
                <div class="caption ">
                    <i class="icon-settings font-green-haze"></i>
                     Change Password
                </div>
                @*<div class="actions">
                    <a class="btn btn-circle btn-icon-only blue" href="javascript:;">
                        <i class="icon-cloud-upload"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only green" href="javascript:;">
                        <i class="icon-wrench"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only red" href="javascript:;">
                        <i class="icon-trash"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
                </div>*@
            </div>
            <div class="portlet-body form">
                <div class="form-group">
                    @*<h4>Horizontal Form With Icons</h4>*@
                    <div class="form-group">
                        @using (Html.BeginForm("ChangePassword", "Login",
                                //new { ReturnUrl = ViewBag.ReturnUrl },
                                FormMethod.Post, new { @class = "form-horizontal margin-bottom-40" }))
                        {
                            @Html.AntiForgeryToken()


                            <div class="form-group form-md-line-input">
                                <label for="inputPassword1" class="col-md-2 control-label">Old Password</label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        @Html.PasswordFor(a => a.OldPassword_CHG, new { placeholder = Html.DisplayNameFor(n => n.OldPassword_CHG), @class = "form-control", @id = "txtoldpassword" })
                                        @Html.ValidationMessageFor(a => a.OldPassword_CHG)
                                        <div class="form-control-focus"> </div>
                                        <i class="fa fa-key"></i>
                                    </div>

                                    <div class="help-block"> with right aligned icon </div>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label for="inputPassword1" class="col-md-2 control-label">New Password</label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        @Html.PasswordFor(a => a.NewPassword_CHG, new { placeholder = Html.DisplayNameFor(n => n.NewPassword_CHG), @class = "form-control", @id = "txtnewpassword" })
                                        @Html.ValidationMessageFor(a => a.NewPassword_CHG)
                                        <div class="form-control-focus"> </div>
                                        <i class="fa fa-key"></i>
                                    </div>
                                    <div class="help-block"> with right aligned icon </div>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label for="inputPassword1" class="col-md-2 control-label">Confirm New Password</label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        @Html.PasswordFor(a => a.ConfirmPassword_CHG, new { placeholder = Html.DisplayNameFor(n => n.ConfirmPassword_CHG), @class = "form-control", @id = "txtconfirmpassword" })
                                        @Html.ValidationMessageFor(a => a.ConfirmPassword_CHG)
                                        <div class="form-control-focus"> </div>
                                        <i class="fa fa-key"></i>
                                    </div>
                                    <div class="help-block"> with right aligned icon </div>
                                </div>
                            </div>

                            <div class="form-group form-md-line-input">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn blue" value="ChangePassword" onclick="Checkpassword();">Change Password</button>
                                </div>

                            </div>
                        }
                           


                </div>

        </div>
    </div>
    <!-- END SAMPLE FORM PORTLET-->
</div>
<script>
    function Checkpassword()
    {
        var txtoldpassword = $('#txtoldpassword').val();
        var txtnewpassword = $('#txtnewpassword').val();
        var txtconfirmpassword = $('#txtconfirmpassword').val();

        if (txtnewpassword == txtconfirmpassword)
        {
            return true;
        }
        else {
            alert('New Password and Confirm New Password does not Matched..');
            event.preventDefault();
            return false;
        }
        if (txtoldpassword == txtnewpassword) {
            return true;
        }
        else {
            alert('Your new Password mathced with old password Please change new password. ?');
            event.preventDefault();
            return false;
        }


    }

</script>

