@model UPExciseLTE.Models.LoginModal
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../Content/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../Content/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../Content/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../Content/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../Content/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../Content/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../Content/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../Content/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../Content/css/util.css">
    <link rel="stylesheet" type="text/css" href="../Content/css/main.css">
    <!--===============================================================================================-->

    <script src="~/scripts/sha256.js"></script>
    <script type="text/javascript">
        function HashPwdwithSalt() {
            var salt = '@Session["salt"]';

            if (document.getElementById("txtUserName").value == "") {
                alert("Please fill UserName");
                return false;
            }
            else if (document.getElementById("txtPassword").value == "") {
                alert("Please fill Password");
                return false;
            }
            else if (document.getElementById("txtforcapture").value == "") {
                alert("Please fill Captcha");
                return false;
            }
            else if (document.getElementById("txtPassword").value != "") {

                document.getElementById("txtPassword").value = sha256(document.getElementById("txtPassword").value);

                document.getElementById("txtPassword").value =
                  sha256(document.getElementById("txtPassword").value + salt);

            }
            // return true;
        }

        function HashPwdwithSalt11(salt) {

            if (document.getElementById("txtPassword").value == "") {

                document.getElementById("txtUserName").value = sha256(document.getElementById("txtPassword").value);
                //hex_md5(document.getElementById("txtPassword").value + "guest");

                document.getElementById("txtPassword").value = sha256(document.getElementById("txtPassword").value);
                //hex_md5(document.getElementById("txtPassword").value + salt);

                document.getElementById("txtforcapture").value = sha256(document.getElementById("txtPassword").value);
                //hex_md5(document.getElementById("txtPassword").value + salt);

                document.getElementById('txtUserName').type = 'password';
                document.getElementById('txtforcapture').type = 'passwordocp';
            }
        }

    </script>

    <script>
        //function ReloadCaptchaCode() {
        //    var url = "/Login/ShowCaptchaImage";
        //    $('#lblCaptcha').html("Loading Captcha....");
        //    $.ajax({
        //        url: url,
        //        contentType: "image/jpeg",
        //        cache: false,
        //        success: function (data) {
        //            var imag = "<img src='" + "data:image/jpg;base64,"
        //            + data + "'/>";

        //            $('#lblCaptcha').html(imag);
        //        },
        //        error: function (reponse) {
        //            alert("Error while generating captcha. Pleae refresh page and try again.");
        //        }

        //    });

        //}
        function ReloadCaptchaCode() {
            var xmlHTTP = new XMLHttpRequest();
            xmlHTTP.open('GET', '/Login/ShowCaptchaImage', true);

            // Must include this line - specifies the response type we want
            xmlHTTP.responseType = 'arraybuffer';

            xmlHTTP.onload = function (e) {

                var arr = new Uint8Array(this.response);


                // Convert the int array to a binary string
                // We have to use apply() as we are converting an *array*
                // and String.fromCharCode() takes one or more single values, not
                // an array.
                var raw = String.fromCharCode.apply(null, arr);

                // This works!!!
                var b64 = btoa(raw);
                var dataURL = "data:image/jpeg;base64," + b64;
                document.getElementById("image").src = dataURL;
            };

            xmlHTTP.send();
        }
    </script>
    <script>

    document.onkeypress = function (event) {
        event = (event || window.event);
        if (event.keyCode == 123) {
            return false;
        }
    }
    document.onmousedown = function (event) {
        event = (event || window.event);
        if (event.keyCode == 123) {
            return false;
        }
    }
    document.onkeydown = function (event) {
        event = (event || window.event);
        if (event.keyCode == 123) {
            return false;
        }
    }


    </script>
   
</head>
<body >

    <div class="limiter">

        <div class="container-login100">
            <div class="wrap-login100">
               @using (Html.BeginForm("Login", "Login",
           //new { ReturnUrl = ViewBag.ReturnUrl },
           FormMethod.Post, new { @class = "login100-form validate-form" }))
               {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                    <div class="w-full text-center ">
                        <img src="../Content/images/LOGO.PNG" width="90px" />
                    </div>
                    <span class="login100-form-titleMain">
                        उत्तर प्रदेश आबकारी विभाग
                    </span>
                    <span class="login100-form-titlesub">
                        ऑनलाइन पोर्टल
                    </span>
                    <span class="login100-form-title p-b-30">
                        Account Login
                    </span>
                    <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
                        @*<input id="first-name" class="input100" type="text" name="username" placeholder="User name">*@

                        @Html.TextBoxFor(a => a.UserName, new { @id = "txtUserName", @required = "required", @class = "input100", @placeholder = "User Name" })
                        @Html.ValidationMessageFor(a => a.UserName)

                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
                        @*<input class="input100" type="password" name="pass" placeholder="Password">*@

                        @Html.PasswordFor(a => a.Password, new { @id = "txtPassword", @required = "required", @class = "input100", @placeholder = "Password" })
                        @Html.ValidationMessageFor(a => a.Password)
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 rs3-wrap-input100 validate-input m-b-20" data-validate="Type user name">
                        <label id="lblCaptcha"><img id="image" src="~/Login/ShowCaptchaImage" style="margin-top: 8px;" /></label>
                        <label style="color:white">space</label>
                        @*<img src="images/Captcha.PNG" style=" width 115px;" />&nbsp
                        <img src="images/refresh.PNG" />*@
                        @*<div>
                            <a href="#" onclick="javascript:ReloadCaptchaCode();" class="btn btn-primary ">Refresh</a>

                        </div>*@
                        <img src="../Content/images/refresh.PNG" onclick="javascript:ReloadCaptchaCode();" style="cursor:pointer ;margin-top: 8px;" />
                    </div>
                    <div class="wrap-input100 rs3-wrap-input100 validate-input m-b-20" data-validate="Chaptcha">
                        @Html.TextBoxFor(a => a.CaptchaText, new { @id = "txtforcapture", @required = "required", @class = "input100", @placeholder = "Captcha" })
                        @*<input class="input100" type="password" name="pass" placeholder="Chaptcha">*@
                        <span class="focus-input100"></span>
                    </div>
                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn" onclick="HashPwdwithSalt();">Login</button>
                        @*<button class="login100-form-btn">
                            Sign in
                        </button>*@
                    </div>

                    <div class="w-full text-center p-t-27  p-b-145 ">
                        <span class="txt1">
                            Forgot
                        </span>

                        <a href="#" class="txt2">
                            User name / password?
                        </a>
                    </div>

                    <div class="w-full text-center p-t-27  p-b-145 ">
                        @*<span class="txt1">
                            Forgot
                        </span>*@<button type="button" class="login100-form-btn" onclick="window.location.href = '../login/Track_staus';">Track Status</button>

                        @*<a href="#" class="txt2">
                            
                            Track Status
                        </a>*@
                    </div>


                    <div class="w-full text-center ">
                        <span class="txt1">
                            Website Content Managed by Excise, Uttar Pradesh Designed, Developed and Hosted by
                        </span><a href="#" class="txt2">
                            National Informatics Centre( NIC )
                        </a>


                    </div>

                //</form>
               }
                <div class="login100-more" style="background-image: url('../Content/images/bg-01.jpg');padding-top:10px; !important">
                    <CentER>
                        <img src="../Content/images/YOGI.PNG" width="100px" />
                        <img src="../Content/images/2.PNG" width="100px" />
                        <img src="../Content/images/3.PNG" width="100px" />
                    </CentER>
                </div>
            </div>
        </div>
    </div>



    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="../Content/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="../Content/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="../Content/vendor/bootstrap/js/popper.js"></script>
    <script src="../Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="../Content/vendor/select2/select2.min.js"></script>
    <script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
    </script>
    <!--===============================================================================================-->
    <script src="../Content/vendor/daterangepicker/moment.min.js"></script>
    <script src="../Content/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="../Content/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="../Content/js/main.js"></script>

</body>
</html>