@model UPExciseLTE.Models.BrewerytToManufacturerGatePass

@{
    ViewBag.Title = "GatePass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .note p, .page-loading, .panel .panel-body{
    background-color:#f5f5f5;
    }



</style>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@using (Html.BeginForm("BreweryToManufacturerWholesale", "GatePass", FormMethod.Post, new { @id = "UploadGatePassform", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(Model => Model.PassTypeInformation)
    @Html.HiddenFor(Model => Model.To)
    @Html.HiddenFor(Model => Model.From)
    @Html.HiddenFor(Model => Model.ShopName)
<input type="hidden" value="@Model.GatePassId" id="GatePassID" />
<input type="hidden" value="@Model.BrandId" id="BrandId" />
<div id="Msg"></div>

<input type="hidden" value="@Model.PassTypeInformation" id="GatePassType" />

<div class="page-content-inner">
    <div class="row ">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>@Model.PassTypeInformation
                    </div>
                </div>
                <div class="portlet-body form" style="background-color:#f5f5f5">

                    <div class="panel panel-info">
                        <div class="panel-heading">First Step</div>
                        <div class="panel-body">

                            <div class="form-body">

                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Without Bond</label>
                                        <div>
                                            FL36
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Date</label>
                                        <div>
                                            @Html.EditorFor(m => m.Date, new { htmlAttributes = new { @id = "txtDate", @class = "form-control ", @placeholder = "dd/MM/yyyy", @required = "required" } })
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Valid Till</label>
                                        <div>
                                            @Html.EditorFor(m => m.ValidTill, new { htmlAttributes = new { @id = "txtValidTill", @class = "form-control ", @placeholder = "dd/MM/yyyy", @required = "required" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="control-label">From</label>
                                        <div>
                                            <select class="form-control" id="FromLicenceType" name="FromLicenceType">
                                                <option value="-1">--Select--</option>
                                                <option value="FL3">FL3</option>
                                                <option value="FL3A">FL3A</option>
                                            </select>
                                            <input type="hidden" value="@Model.FromLicenseType" id="FromLicenceTypeId" />
                                        </div>
                                    </div>
                                    <div class="form-group   col-md-4">
                                        <label class="control-label">Licencee No</label>
                                        <div>
                                            @Html.DropDownListFor(m => m.ConsinorLicenseNo, (IEnumerable<SelectListItem>)Model.ConsinorLicenseeNos, new { @id = "ddlLicenseeLicenseNo", @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group   col-md-4">
                                        <label class="control-label">Consignor Name</label>
                                        <div>
                                            @Html.TextBoxFor(m => m.ConsignorName, new { @id = "txtConsignorName", @class = "form-control ", @placeholder = "Consignor Name", @required = "required", @disabled = "disbled" })

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group   col-md-4">
                                        <label class="control-label">To</label>
                                        <div>
                                            <select class="form-control" id="ToLicenceType" name="FromLicenceType">
                                                <option value="-1">--Select--</option>
                                                <option value="FL1">FL1</option>
                                                <option value="FL1A">FL1A</option>
                                                <option value="FL2A">FL2A</option>
                                                <option value="EXPORT">EXPORT</option>
                                                <option value="EXPORT OUT SIDE INDIA">EXPORT OUT SIDE INDIA</option>
                                            </select>
                                            <input type="hidden" value="@Model.ToLicenseType" id="ToLicenceTypeId" />
                                        </div>
                                    </div>
                                    <div class="form-group   col-md-4">
                                        <label class="control-label">Licencee No</label>
                                        <div>
                                            @Html.DropDownListFor(m => m.ConsineeLicenseNo, (IEnumerable<SelectListItem>)Model.ConsineeLicenseeNos, new { @id = "ddlLicenseeLicenseNo1", @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group   col-md-4">
                                        <label class="control-label">Consignee Name</label>
                                        <div>
                                            @Html.TextBoxFor(m => m.ConsigneeName, new { @id = "txtConsigneeName", @class = "form-control ", @placeholder = "Consignee Name", @required = "required", @disabled = "disbled" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="form-group   col-md-4">
                                        <label class="control-label">Vehicle No</label>
                                        <div>
                                            @Html.TextBoxFor(m => m.VehicleNo, new { @id = "txtVehicleNo", @class = "form-control ", @placeholder = "Vehicle No", @required = "required" })

                                        </div>
                                    </div>
                                    <div class="form-group   col-md-4">
                                        <label class="control-label">Vehicle Driver Name</label>
                                        <div>
                                            @Html.TextBoxFor(m => m.VehicleDriverName, new { @id = "txtVehicleDriverName", @class = "form-control ", @placeholder = "Vehicle Driver Name", @required = "required" })

                                        </div>
                                    </div>

                                    <div class="form-group   col-md-4">
                                        <label class="control-label">Route Details</label>
                                        <div>
                                            @Html.TextBoxFor(m => m.RouteDetails, new { @id = "txtAreaRouteDetails", @class = "form-control ", @placeholder = "Route Details", @required = "required" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="form-group   col-md-8">
                                        <label class="control-label">Vehicle Agency Name And Address</label>
                                        <div>
                                            @Html.TextAreaFor(m => m.AgencyNameAndAddress, new { @id = "txtAreaVehicleAgencyNameAndAddress", @class = "form-control ", @placeholder = "Vehicle Agency Name And Address", @required = "required" })
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                            @*<div style="clear:both"></div>*@
                            <center>
                                <div class="form-actions">
                                    <button type="submit" class="btn green" id="btnBMWholeSale">Submit</button>
                                    @*<button type="button" class="btn danger" style="background-color:crimson; color:white">Reset</button>
                <button type="button" class="btn default" style="background-color: #659be0;color:white;border-color:#8E44AD" onclick="GetBrandDetail();">Go to Brand Details</button>*@
                                </div>
                            </center>



                        </div>
                    </div>

                       
                    <div class="panel panel-info">
                        <div class="panel-heading">Second Step</div>
                        <div class="panel-body">
                            <div class="form-body">
                                <div class="row">
                                    <div class="form-group  col-md-4">
                                        <label class="control-label">@Html.DisplayNameFor(model => model.Brands)</label>
                                        <div>
                                            @Html.DropDownListFor(m => m.BrandId, (IEnumerable<SelectListItem>)Model.Brands, new { @id = "ddlBrandId", @class = "form-control", @name = "ddlBrandId" })
                                        </div>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label">&nbsp;</label>
                                        <div>
                                            <input type="file" class="btn btn-primary required" name="impCSVUpload" id="impCSVUpload" value="Upload Gatepass" />
                                        </div>

                                    </div>
                                </div>
                              
                                @*<div class="form-group  col-md-4">
                                    <label class="control-label">&nbsp;</label>
                                    <div>
                                        <button type="button" class="btn green" id="btnBMCSVUpload" onclick="return ValidateExtension1(this)">Save Gate Pass</button>
                                    </div>
                                </div>*@
                            </div>
                            <center>
                                <div class="form-actions">
                                    <button type="button" class="btn green" id="btnBMCSVUpload" onclick="return ValidateExtension1(this)">Upload CSV</button>
                                    @*<button type="button" class="btn danger" style="background-color:crimson; color:white">Reset</button>
                <button type="button" class="btn default" style="background-color: #659be0;color:white;border-color:#8E44AD" onclick="GetBrandDetail();">Go to Brand Details</button>*@
                                </div>
                            </center>
                        </div>
                   
                    </div>
                       
                    <div class="panel panel-info">
                        <div class="panel-heading">Third Step</div>
                        <div class="panel-body">
                            <div class="portlet-body">
                                <div class="table-scrollable">
                                    <table id="tblBMWholeSale" class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                @*<th>
                                                    S.No
                                                </th>*@
                                                <th>
                                                    Brand
                                                </th>
                                                <th>
                                                    Size
                                                </th>
                                                <th>
                                                    Available Bottle
                                                </th>
                                                <th>
                                                    Available Box
                                                </th>
                                                <th>
                                                    Dispatch Box
                                                </th>
                                                <th>
                                                    Dispatch Bottle
                                                </th>
                                                <th>
                                                    Batch No
                                                </th>
                                                <th>
                                                    Duty
                                                </th>
                                                <th>
                                                    Add Duty
                                                </th>
                                                <th>
                                                    Calculated Duty
                                                </th>
                                                <th>
                                                    Calculated Additional Duty
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.DistrictWholeSaleToRetailorList.Count() > 0)
                                            {
                                                foreach (var item in Model.DistrictWholeSaleToRetailorList)
                                                {
                                                    <tr>
                                                        @*<td>
                                                            @Html.TextBoxFor(modelItem => item.RowNum, new { @id = "lblRowNum", @class = "form-control RowNum", @name = "RowNum", @style = "width:50px;", @disabled = "disabled" })
                                                        </td>*@
                                                        <td>
                                                            @Html.TextBoxFor(modelItem => item.Brand, new { @id = "lblBrand", @class = "form-control Brand", @name = "Brand", @style = "width:200px;", @disabled = "disabled" })
                                                        </td>
                                                        <td>

                                                            @Html.TextBoxFor(modelItem => item.Size, new { @id = "lblSize", @class = "form-control Size", @name = "Size", @style = "width:50px;", @disabled = "disabled" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(modelItem => item.AvailableBottle, new { @id = "lblAvailableBottle", @class = "form-control AvailableBottle", @name = "AvailableBottle", @style = "width:80px;", @disabled = "disabled" })

                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(modelItem => item.AvailableBox, new { @id = "lblAvailableBox", @class = "form-control AvailableBox", @name = "AvailableBox", @style = "width:50px;", @disabled = "disabled" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(modelItem => item.DispatchBox, new { @id = "txtDispatchBox", @class = "DispatchBox form-control ", @placeholder = "Dispatch Box", @name = "DispatchBox", @style = "width:100px;", @onkeyPress = "return IsNumeric(event);" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(modelItem => item.DispatchBottle, new { @id = "lblDispatchBottle", @class = "form-control DispatchBottle", @name = "DispatchBottle", @style = "width:100px;", @disabled = "disabled" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(modelItem => item.BatchNo, new { @id = "txtBatchNo", @class = "form-control BatchNo", @placeholder = "Batch No", @name = "BatchNo", @style = "width:100px;" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(modelItem => item.Duty, new { @id = "lblDuty", @class = "form-control Duty", @name = "Duty", @style = "width:100px;", @disabled = "disabled" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(modelItem => item.AddDuty, new { @id = "lblAddDuty", @class = "form-control AddDuty", @name = "AddDuty", @style = "width:100px;", @disabled = "disabled" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(modelItem => item.CalculatedDuty, new { @id = "lblCalculatedDuty", @class = "form-control CalculatedDuty", @name = "CalculatedDuty", @style = "width:80px;", @disabled = "disabled" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(modelItem => item.CalculatedAdditionalDuty, new { @id = "lblCalculatedAdditionalDuty", @class = "form-control CalculatedAdditionalDuty", @name = "CalculatedAdditionalDuty", @style = "width:80px;", @disabled = "disabled" })
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <center>
                                    <div class="form-actions">
                                        <button type="button" class="btn green" id="btnBMWholeComplete">Finalize Gate Pass</button>
                                        @*<button type="button" class="btn danger" style="background-color:crimson; color:white">Reset</button>
                <button type="button" class="btn default" style="background-color: #659be0;color:white;border-color:#8E44AD" onclick="GetBrandDetail();">Go to Brand Details</button>*@
                                    </div>
                                </center>
                            </div>



                        </div>
                      
                    </div>     

                </div>
            </div>
        </div>
    </div>
</div>
}



<script src="~/Scripts/CommonScript.js"></script>
<script>

    $(document).ready(function () {
        //$("#ToLicenceType").val($("#To").val());
        //$("#FromLicenceType").val($("#From").val());

    });

    $("#ToLicenceType").val($("#ToLicenceTypeId").val());
    $("#FromLicenceType").val($("#FromLicenceTypeId").val());

    $("#ToLicenceType").change(function () {
        $("#To").val($("#ToLicenceType").val());
    });
    $("#FromLicenceType").change(function () {
        $("#From").val($("#FromLicenceType").val());
    });

    $("#ddlLicenseeLicenseNo").change(function () {
        e = document.getElementById("ddlLicenseeLicenseNo"); var licenseNo = e.options[e.selectedIndex].text;
        $("#ShopName").val(licenseNo);
    });


    $("#btnBMCSVUpload").click(function () {
        debugger;
        if ($("#ddlBrandId").val() == "-1") {
            alert("Please Select Brand");
            return;
        }
        else
            var brandId =parseInt($("#ddlBrandId").val(),0);
        var gatePassID =parseInt( $("#GatePassID").val(),0);
        var fileUpload = document.getElementById("impCSVUpload");
       
        if (fileUpload.value != null && gatePassID > 0 && brandId > 0) {
            var uploadFile = new FormData();
            var files = $("#impCSVUpload").get(0).files;
            // Add the uploaded file content to the form data collection
            if (files.length > 0) {
                uploadFile.append("impCSVUpload", files[0]);
                uploadFile.append('brandId', brandId);
                uploadFile.append('gatePassId', gatePassID);
                $.ajax({
                    url: "/GatePass/UploadCSVFile",
                    contentType: false,
                    processData: false,
                    data: uploadFile,
                    type: 'POST',
                    success: function () {
                        alert("Successfully Added & processed");
                        window.location.reload();
                    }
                });
            }
        }
        else
        {
            alert("Please Generate Gate Pass First.");
        }
    });





    $(document).ready(function () {
        $("#txtDate").datepicker({

            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true
        });
        $("#txtValidTill").datepicker({

            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true
        });


    });
    //function Sum() {
    //    var grossweight = parseFloat($("#txtGrossWeight").val());
    //    var tareweight = parseFloat($("#txtTareWeight").val());
    //    var netweight = (grossweight - tareweight);
    //    $("#txtNetWeight").val(netweight);
    //}

    $("#ddlLicenseeLicenseNo").change(function () {
        $("#txtConsignorName").val(this.value);
    });
    $("#ddlLicenseeLicenseNo1").change(function () {
        $("#txtConsigneeName").val(this.value);
    });
    $("#ddlLicenseeLicenseNo").change(function () {
        $("#txtConsignorName").val(this.value);
    });

    @*$("#MDistrictId1").change(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetFilteredDistrict", "GatePass")',
            dataType: 'json',
            data: { districtId1: $("#MDistrictId1").val() },
            success: function (subcategories) {
                $("#MDistrictId2").empty();
                $.each(subcategories, function (i, subcategory) {

                    $("#MDistrictId2").append('<option value="'
                        + subcategory.Value + '">' +
                        subcategory.Text + '</option>');
                });
            },
            error: function (ex) {
                alert('Failed to retrieve Sub Categories : ' + ex);
            }
        });
        return false;
    })*@

    @*$("#MDistrictId2").change(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetFilteredDistrict", "GatePass")',
            dataType: 'json',
            data: { districtId1: $("#MDistrictId1").val(), districtId2: $("#MDistrictId2").val() },
            success: function (subcategories) {
                $("#MDistrictId3").empty();
                $.each(subcategories, function (i, subcategory) {
                    $("#MDistrictId3").append('<option value="'
                        + subcategory.Value + '">' +
                        subcategory.Text + '</option>');
                });
            },
            error: function (ex) {
                alert('Failed to retrieve Sub Categories : ' + ex);
            }
        });
        return false;
    })*@



    //$("button#btnManufacturerWholeSaleToDistrictWholeSale").click(function () {
    //    var tblManufacturerWholeSaleToDistrictWholeSale = "#tblManufacturerWholeSaleToDistrictWholeSale tbody tr";
    //    var pattern = /^([0-9]{2})\/([0-9]{2})\/([0-9]{4})$/;
    //    if ($("#txtDate").val() == null || $("#txtDate").val() == "" || !pattern.test($("#txtDate").val())) {
    //        alert("Date Format is not Correct");
    //        return;
    //    }
    //    else if ($("#txtValidTill").val() == null || $("#txtValidTill").val() == "" || !pattern.test($("#txtValidTill").val())) {
    //        alert("Date Format is not Correct");
    //        return;
    //    }
    //    if ($("#ddlBrandId").val() == "-1") {
    //        alert("Please Select Brand.")
    //        return;
    //    }

    //    if ($("#FromLicenceType").val() == "-1") {
    //        alert("Please Select From Licence Type")
    //        return;
    //    }
    //    else if ($("#ddlLicenseeLicenseNo").val() == "-1") {
    //        alert("Please Select Licensee No.")
    //        return;
    //    } else if ($("#ToLicenceType").val() == "-1") {
    //        alert("Please Select To Licence Type.")
    //        return;
    //    }
    //    else if ($("#ddlLicenseeLicenseNo1").val() == "-1") {
    //        alert("Please Select Licensee No.")
    //        return;
    //    }
    //    else if ($("#txtVehicleDriverName").val() == "") {
    //        alert("Please Fill Driver Name No.")
    //        return;
    //    }
    //    else if ($("#txtVehicleNo").val() == "") {
    //        alert("Please Fill Vehicle No.")
    //        return;
    //    } else if ($("#txtAddress").val() == "") {
    //        alert("Please Fill Address.")
    //        return;
    //    }

    //    else if ($("#txtAreaRouteDetails").val() == "") {
    //        alert("Please Fill Route Details.")
    //        return;
    //    }
    //    else if ($("#txtAreaVehicleAgencyNameAndAddress").val() == "") {
    //        alert("Please Fill Agency Name and Address.")
    //        return;
    //    }
    //    else if ($("#MDistrictId1").val() == "-1" || $("#MDistrictId2").val() == "-1" || $("#MDistrictId3").val() == "-1") {
    //        alert("Please Select Major Districts in Route")
    //        return;
    //    }
    //    else if ($("#txtGrossWeight").val() == "0") {

    //        alert("Please Enter Gross Weight.")
    //        return;
    //    }
    //    else if ($("#txtTareWeight").val() == "0") {

    //        alert("Please Enter Tare Weight.")
    //        return;
    //    }

    //    GetGatePass(tblManufacturerWholeSaleToDistrictWholeSale)
    //});


    //$("button#btnWholeSaleToRetailor").click(function () {
    //    var tblWholeSaleToRetailor = "#tblWholeSaleToRetailor tbody tr";
    //    var pattern = /^([0-9]{2})\/([0-9]{2})\/([0-9]{4})$/;
    //    if ($("#txtDate").val() == null || $("#txtDate").val() == "" || !pattern.test($("#txtDate").val())) {
    //        alert("Date Format is not Correct");
    //        return;
    //    }
    //    else if ($("#txtValidTill").val() == null || $("#txtValidTill").val() == "" || !pattern.test($("#txtValidTill").val())) {
    //        alert("Date Format is not Correct");
    //        return;
    //    }
    //    if ($("#ddlBrand").val() == "-1") {
    //        alert("Please Select Brand.")
    //        return;
    //    }
    //    else if ($("#ddlShopName").val() == "-1") {
    //        alert("Please Select Shop Name.");
    //        return;
    //    }
    //    else if ($("#txtToShopId").val() == "") {
    //        alert("Please Fill Shop ID.");
    //        return;
    //    }
    //    else if ($("#txtGatePassNo").val() == "") {
    //        alert("Please Fill GatePass No.");
    //        return;
    //    }
    //    else if ($("#ddlLicenseeLicenseNo").val() == "-1") {
    //        alert("Please Select Licensee No.")
    //        return;
    //    }
    //    else if ($("#txtVehicleNo").val() == "") {
    //        alert("Please Fill Vehicle No.")
    //        return;
    //    }
    //    else if ($("#txtVehicleDriverName").val() == "") {
    //        alert("Please Fill Driver Name No.")
    //        return;
    //    }
    //    else if ($("#txtAreaLicenseeName").val() == "") {
    //        alert("Please Fill Licencee Name.");
    //        return;
    //    }
    //    else if ($("#txtAreaLicenseeAddress").val() == "") {
    //        alert("Please Fill Licencee Address.");
    //        return;
    //    }
    //    else if ($("#txtAreaRouteDetails").val() == "") {
    //        alert("Please Fill Route Details.")
    //        return;
    //    }
    //    else if ($("#txtAreaVehicleAgencyNameAndAddress").val() == "") {
    //        alert("Please Fill Agency Name and Address.")
    //        return;
    //    }

    //    GetGatePass(tblWholeSaleToRetailor)
    //});



    $(function () {
        var $tblrows = "";
        $('.DispatchBottle,.DispatchBox,.AvailableBox,.DispatchBottle,.CalculatedDuty,.CalculatedAdditionalDuty').prop('readonly', true);
        //var GatePassType = $("#GatePassType").val();
        //if (GatePassType == "Brewery To Manufacturer Wholesale")
            $tblrows = $("#tblBMWholeSale tbody tr");
        //else if (GatePassType == "Manufacturer Wholesale to Disctrict Wholesale")
        //    $tblrows = $("#tblManufacturerWholeSaleToDistrictWholeSale tbody tr");
        //else if (GatePassType == "District Wholesale to Retailor")
        //    $tblrows = $("#tblWholeSaleToRetailor tbody tr");

        $tblrows.each(function (index) {
            var $tblrow = $(this);
            debugger;
            $tblrow.find('.BatchNo').on('change', function () {
                var dispatchBox = $tblrow.find("[name='item.DispatchBox']").val();
                var availableBox = $tblrow.find("[name='item.AvailableBox']").val();
                var size = $tblrow.find("[name='item.Size']").val();
                var duty = $tblrow.find("[name='item.Duty']").val();
                var addDuty = $tblrow.find("[name='item.AddDuty']").val();
                var dispatchBottle = parseInt(dispatchBox, 10) * parseInt(size, 10);
                var calculatedDuty = parseFloat(dispatchBottle) * parseFloat(duty);
                var calculatedAdditionalDuty = parseFloat(dispatchBottle) * parseFloat(addDuty);
                //$tblrow.find('.DispatchBottle').val(dispatchBottle);
                $tblrow.find('.CalculatedDuty').val(calculatedDuty.toFixed(2));
                $tblrow.find('.CalculatedAdditionalDuty').val(calculatedAdditionalDuty.toFixed(2));

            });
        });
    });


    $("button#btnBMWholeComplete").click(function () {
        var tblBMWholeSale = "#tblBMWholeSale tbody tr";
        //var pattern = /^([0-9]{2})\/([0-9]{2})\/([0-9]{4})$/;
        //if ($("#txtDate").val() == null || $("#txtDate").val() == "" || !pattern.test($("#txtDate").val())) {
        //    alert("Date Format is not Correct");
        //    return;
        //}
        //else if ($("#txtValidTill").val() == null || $("#txtValidTill").val() == "" || !pattern.test($("#txtValidTill").val())) {
        //    alert("Date Format is not Correct");
        //    return;
        //}

        //if ($("#FromLicenceType").val() == "-1") {
        //    alert("Please Select From Licence Type")
        //    return false;
        //}
        //else if ($("#ddlLicenseeLicenseNo").val() == "-1") {
        //    alert("Please Select Licensee No.")
        //    return false;
        //} else if ($("#ToLicenceType").val() == "-1") {
        //    alert("Please Select To Licence Type.")
        //    return false;
        //}
        //else if ($("#ddlLicenseeLicenseNo1").val() == "-1") {
        //    alert("Please Select Licensee No.")
        //    return false;
        //}
        //else if ($("#txtVehicleNo").val() == "") {
        //    alert("Please Fill Vehicle No.")
        //    return false;
        //}
        //else if ($("#txtVehicleDriverName").val() == "") {
        //    alert("Please Fill Driver Name No.")
        //    return false;
        //}
        //else if ($("#txtAreaRouteDetails").val() == "") {
        //    alert("Please Fill Route Details.")
        //    return false;
        //}
        //else if ($("#txtAreaVehicleAgencyNameAndAddress").val() == "") {
        //    alert("Please Fill Agency Name and Address.")
        //    return false;
        //}

        GetGatePass(tblBMWholeSale)
    });

    function GetGatePass(paramId) {
        debugger;
        var data = [];
        var SerialNo, Brand, Size, AvailableBottle, AvailableBox, DispatchBox, DispatchBottle, Duty, AddDuty, CalculatedDuty, CalculatedAdditionalDuty;
        $(paramId).each(function (index) {
            SerialNo = $(this).find("[name='item.RowNum']").val();
            Brand = $(this).find("[name='item.Brand']").val();
            Size = $(this).find("[name='item.Size']").val();
            AvailableBottle = $(this).find("[name='item.AvailableBottle']").val();
            BatchNo = $(this).find("[name='item.BatchNo']").val();
            AvailableBox = $(this).find("[name='item.AvailableBox']").val();
            DispatchBox = $(this).find("[name='item.DispatchBox']").val();
            DispatchBottle = $(this).find("[name='item.DispatchBottle']").val();
            Duty = $(this).find("[name='item.Duty']").val();
            AddDuty = $(this).find("[name='item.AddDuty']").val();
            CalculatedDuty = $(this).find("[name='item.CalculatedDuty']").val();
            CalculatedAdditionalDuty = $(this).find("[name='item.CalculatedAdditionalDuty']").val();
            //---->Form validation goes here
            data.push({
                SerialNo: parseInt(SerialNo),
                Brand: Brand,
                BatchNo: BatchNo,
                Size: Size,
                AvailableBottle: AvailableBottle,
                AvailableBox: AvailableBox,
                DispatchBox: DispatchBox,
                DispatchBottle: DispatchBottle,
                Duty: Duty,
                AddDuty: AddDuty,
                CalculatedDuty: CalculatedDuty,
                CalculatedAdditionalDuty: CalculatedAdditionalDuty,
            });
        });

        //For Brewery To Manufacturer WholeSale

        var gatePassID = parseInt($("#GatePassID").val(), 0);

       

        submitFormData(data, gatePassID);
    }


    function submitFormData(formData, gatePassID) {

        $.ajax({
            type: 'POST',
            data: {'districtWholeSaleToRetailorModels': formData, 'gatePassID': gatePassID },
            url: '@Url.Action("FinalizeBMWholesaleGatePass", "GatePass")',
            success: function (result) {
                $("#Msg").html(result);
                $("#danger-alert").show();
                $("#danger-alert").fadeTo(3000, 500).slideUp(500, function () {
                    $("#danger-alert").slideUp(500);
                });
                $(window).scrollTop(0);
                window.location.reload();
                //if (result.success == true) {
                //    $('.alert-success').show();
                //    $('.alert-danger').hide();
                //    $("#successmsg").html(result.msg);
                //    setTimeout(function () {
                //        $(".alert-success").alert('close');
                //    }, 10000);
                //} else {
                //    $('.alert-danger').show();
                //    $('.alert-success').hide();
                //    $("#error").html(result.msg);
                //    setTimeout(function () {
                //        $(".alert-danger").alert('close');
                //    }, 10000);
                //}
            }
        });
    }


    //var $tblrows = $("#tblBMWholeSale tbody tr");
    //$tblrows.each(function (index) {
    //    var $tblrow = $(this);
    //    debugger;
    //    $tblrow.find('.DispatchBox').on('change', function () {

    //        var qty = $tblrow.find("[name=DispatchBox]").val();
    //        var price = $tblrow.find("[name=DispatchBottle]").val();
    //        var subTotal = parseInt(qty, 10) * parseFloat(price);
    //   });




</script>
