
@model UPExciseLTE.Models.BreweryToManufacturerWholesaleModel
@{
    ViewBag.Title = "DistrictWholesaleToRetailor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*@using (Html.BeginForm("BrandMaster", "MasterForms", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()*@
<div class="page-content-inner">
    <div class="row ">
        <div class="col-md-12">
            <div class="portlet box purple">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i> District Wholesale to Retailer
                    </div>
                </div>
                <div class="portlet-body form" style="background-color:#f5f5f5">
                    <div class="form-body">

                        <div class="form-group col-md-6">
                            <label class="control-label"> Licence No </label>
                            <div>
                                @Html.TextBoxFor(m => m.VehicleNo, new { @id = "txtFromLicenceNo", @class = "form-control ", @placeholder = "From Licence No", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Shop Id</label>
                            <div>
                                @Html.TextBoxFor(m => m.VehicleNo, new { @id = "txtToShopId", @class = "form-control ", @placeholder = "To Shop Id", @required = "required" })
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label">Shop Name</label>
                            <div>
                                @Html.TextBoxFor(m => m.VehicleNo, new { @id = "txtShopName", @class = "form-control ", @placeholder = "Shop Name", @required = "required" })
                            </div>
                        </div>
                      
                        <div class="form-group col-md-4">
                            <label class="control-label">Issue Date</label>
                            <div>
                                @Html.EditorFor(m => m.Date, new { htmlAttributes = new { @id = "txtDate", @class = "form-control ", @placeholder = "Date", @required = "required" } })
                            </div>
                        </div>
                        <div class="form-group col-md-4">

                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label">Valid Up To</label>
                            <div>
                                @Html.EditorFor(m => m.ValidTill, new { htmlAttributes = new { @id = "txtValidTill", @class = "form-control ", @placeholder = "Valid Till", @required = "required" } })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Gate Pass No</label>
                            <div>
                                @Html.TextBoxFor(m => m.VehicleNo, new { @id = "txtGatePassNo", @class = "form-control ", @placeholder = "Gate Pass No", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label"> License No</label>
                            <div>
                                @Html.TextBoxFor(m => m.VehicleNo, new { @id = "txtLicenseeLicenseNo", @class = "form-control ", @placeholder = "Licensee License No", @required = "required" })
                            </div>
                        </div>

                     
                        <div class="form-group   col-md-6">
                            <label class="control-label">Licensee Name</label>
                            <div>
                                @Html.TextAreaFor(m => m.RouteDetails, new { @id = "txtAreaRouteDetails", @class = "form-control ", @placeholder = "Licensee Name & Address", @required = "required" })
                            </div>
                        </div>
                    
                        <div class="form-group   col-md-6">
                            <label class="control-label">Licensee Address</label>
                            <div>
                                @Html.TextAreaFor(m => m.RouteDetails, new { @id = "txtAreaRouteDetails", @class = "form-control ", @placeholder = "Licensee Name & Address", @required = "required" })
                            </div>
                        </div>

                        <div class="form-group   col-md-6">
                            <label class="control-label">Route Details</label>
                            <div>
                                @Html.TextAreaFor(m => m.RouteDetails, new { @id = "txtAreaRouteDetails", @class = "form-control ", @placeholder = "Route Details", @required = "required" })
                            </div>
                        </div>

                        <div class="form-group   col-md-6">
                            <label class="control-label">Vehicle No</label>
                            <div>
                                @Html.TextBoxFor(m => m.VehicleNo, new { @id = "txtVehicleNo", @class = "form-control ", @placeholder = "Vahicle No", @required = "required" })

                            </div>
                        </div>



                        <div class="form-group   col-md-6">
                            <label class="control-label">Vehicle (Driver Name)</label>
                            <div>
                                @Html.TextBoxFor(m => m.VehicleDriverName, new { @id = "txtVehicleDriverName", @class = "form-control ", @placeholder = "Vahicle Driver Name", @required = "required" })

                            </div>
                        </div>

                        <div class="form-group   col-md-6">
                            <label class="control-label">Vehicle (Agency Name And Address)</label>
                            <div>
                                @Html.TextAreaFor(m => m.VehicleAgencyNameAndAddress, new { @id = "txtAreaVehicleAgencyNameAndAddress", @class = "form-control ", @placeholder = "Vehicle Agency Name And Address", @required = "required" })
                            </div>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                    @*<center>
                            <div class="form-actions">
                                <button type="submit" class="btn green">Submit</button>
                                <button type="button" class="btn danger" style="background-color:crimson; color:white">Reset</button>
                                <button type="button" class="btn default" style="background-color: #659be0;color:white;border-color:#8E44AD" onclick="GetBrandDetail();">Go to Brand Details</button>
                            </div>
                        </center>*@
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover">
                            <tr>
                                <th scope="col">
                                    @*@Html.DisplayNameFor(model => model.PlanId)*@
                                    S.No
                                </th>
                                <th scope="col">
                                    @*@Html.DisplayNameFor(model => model.DateOfPlan)*@
                                    Kind of Liquor
                                </th>
                                <th scope="col">
                                    @*@Html.DisplayNameFor(model => model.LiquorType)*@
                                    Batch No.
                                </th>
                                <th scope="col">
                                    @*@Html.DisplayNameFor(model => model.LicenceType)*@
                                    Bottles, Flash Quantity
                                    Contained in each

                                </th>
                                <th scope="col">
                                    Total Litres
                                    <td> BL</td>
                                    <td> AL</td>
                                    @*@Html.DisplayNameFor(model => model.Brand)*@

                                  
                                </th>
                                <th scope="col">
                                    Alcohalic Strength
                                    @*@Html.DisplayNameFor(model => model.Capacity)*@
                                </th>
                            
                                <th scope="col"></th>
                            </tr>

                            @foreach (var item in Model.DistrictWholeSaleToRetailorList)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SerialNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.KindOfLiquor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BatchNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                 
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalLitresOfAL)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalLitresOfBL)
                                    </td>
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AlcohalicStrength)
                                    </td>
                                 
                                    @*<td>
                                        @Html.ActionLink("Edit", "EditPlan", new { id = item.PlanId }) |
                                        @Html.ActionLink("Finalize", "PlanFinalize", new { id = item.PlanId }) |
                                        @Html.ActionLink("Freeze", "PlanFreeze", new { id = item.PlanId }) |
                                    </td>*@
                                </tr>
                            }

                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@*}*@

