@model UPExciseLTE.Models.GatePass

@{
    ViewBag.Title = "GatePass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("GatePass", "GatePass", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(Model => Model.PassTypeInformation)
    @Html.HiddenFor(Model => Model.NetWeight)
    if (Model != null && Model.Message != null)
    {
        if (!string.IsNullOrEmpty(Model.Message.MStatus))
        {
            @Html.Partial("~/Views/Shared/_ErrorMessage.cshtml", Model.Message)
        }
    }
    if (Model.PassTypeInformation == "Brewery To Manufacturer Wholesale")
    {

        <div class="page-content-inner">
            <div class="row ">
                <div class="col-md-12">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>@Model.PassTypeInformation
                            </div>
                        </div>
                        <div class="portlet-body form" style="background-color:#f5f5f5">
                            <div class="form-body">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label">From</label>
                                        <div>
                                            @Html.RadioButtonFor(m => m.SelectedFromRdo, "FL3") FL3
                                            @Html.RadioButtonFor(m => m.SelectedFromRdo, "FL3A") FL3A
                                        </div>
                                    </div>

                                    <div class="form-group   col-md-6">
                                        <label class="control-label">To</label>
                                        <div>
                                            @Html.RadioButtonFor(m => m.SelectedToRdo, "FL1") FL1
                                            @Html.RadioButtonFor(m => m.SelectedToRdo, "FL1A")FL1A
                                            @Html.RadioButtonFor(m => m.SelectedToRdo, "FL2A") FL2A
                                            @Html.RadioButtonFor(m => m.SelectedToRdo, "EXPORT") EXPORT
                                            @Html.RadioButtonFor(m => m.SelectedToRdo, "EXPORT OUT SIDE INDIA") EXPORT OUT SIDE INDIA
                                            @*@Html.RadioButtonFor(m => m.SelectedFromRdo, "FL3A") FL3A*@
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="form-group col-md-4">
                                        <label class="control-label">Date</label>
                                        <div>
                                            @Html.EditorFor(m => m.Date, new { htmlAttributes = new { @id = "txtDate", @class = "form-control ", @placeholder = "Date", @required = "required" } })
                                        </div>
                                    </div>


                                    <div class="form-group col-md-4">
                                        <label class="control-label">Valid Till</label>
                                        <div>
                                            @Html.EditorFor(m => m.ValidTill, new { htmlAttributes = new { @id = "txtValidTill", @class = "form-control ", @placeholder = "Valid Till", @required = "required" } })
                                        </div>
                                    </div>

                                    <div class="form-group  col-md-4">
                                        <label class="control-label">Brand Name</label>
                                        <div>
                                            @*@Html.DropDownList("ddlBrandName", (IEnumerable<SelectListItem>)ViewBag.Brands, new { @id = "ddlBrandName", @class = "form-control" })*@
                                            @Html.DropDownListFor(m => m.BrandId, (IEnumerable<SelectListItem>)ViewBag.Brands, new { @id = "ddlBrand", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group  col-md-4">
                                        <label class="control-label">License No.</label>
                                        <div>
                                            @*@Html.DropDownList("ddlLicenceNo", (IEnumerable<SelectListItem>)ViewBag.LicenceNo, new { @id = "ddlLicenceNo", @class = "form-control" })*@
                                            @Html.TextBox("txtLicenseNo", "", new { @id = "txtLicenseNo", @class = "form-control", @required = "required", @readonly = "true" })
                                        </div>
                                    </div>

                                    <div class="form-group   col-md-4">
                                        <label class="control-label">Vehicle Driver Name</label>
                                        <div>
                                            @Html.TextBoxFor(m => m.VehicleDriverName, new { @id = "txtVehicleDriverName", @class = "form-control ", @placeholder = "Vehicle Driver Name", @required = "required" })

                                        </div>
                                    </div>

                                    <div class="form-group   col-md-4">
                                        <label class="control-label">Vehicle No</label>
                                        <div>
                                            @Html.TextBoxFor(m => m.VehicleNo, new { @id = "txtVehicleNo", @class = "form-control ", @placeholder = "Vehicle No", @required = "required" })

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group   col-md-6">
                                        <label class="control-label">Route Details</label>
                                        <div>
                                            @Html.TextAreaFor(m => m.RouteDetails, new { @id = "txtAreaRouteDetails", @class = "form-control ", @placeholder = "Route Details", @required = "required" })
                                        </div>
                                    </div>



                                    <div class="form-group   col-md-6">
                                        <label class="control-label">Vehicle Agency Name And Address</label>
                                        <div>
                                            @Html.TextAreaFor(m => m.VehicleAgencyNameAndAddress, new { @id = "txtAreaVehicleAgencyNameAndAddress", @class = "form-control ", @placeholder = "Vehicle Agency Name And Address", @required = "required" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group   col-md-4">
                                        <label class="control-label">Gross Weight</label>
                                        <div>
                                            @Html.TextBoxFor(m => m.GrossWeight, new { @id = "txtGrossWeight", @class = "form-control ", @placeholder = "Gross Weight", @required = "required", @onkeypress = "return isfloatNumber(this, event);", @onChange = "Sum();" })

                                        </div>
                                    </div>
                                    <div class="form-group   col-md-4">
                                        <label class="control-label">Tare Weight</label>
                                        <div>
                                            @Html.TextBoxFor(m => m.TareWeight, new { @id = "txtTareWeight", @class = "form-control ", @placeholder = "Tare Weight", @required = "required", @onkeypress = "return isfloatNumber(this, event);", @onChange = "Sum();" })

                                        </div>
                                    </div>
                                    <div class="form-group   col-md-4">
                                        <label class="control-label">Net Weight</label>
                                        <div>
                                            @Html.TextBoxFor(m => m.NetWeight, new { @id = "txtNetWeight", @class = "form-control ", @placeholder = "Net Weight", @required = "required", @disabled = "disbled" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="clear:both"></div>
                            <center>
                                <div class="form-actions">
                                    <button type="submit" class="btn green">Submit</button>
                                    @*<button type="button" class="btn danger" style="background-color:crimson; color:white">Reset</button>
                                        <button type="button" class="btn default" style="background-color: #659be0;color:white;border-color:#8E44AD" onclick="GetBrandDetail();">Go to Brand Details</button>*@
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (Model.PassTypeInformation == "Manufacturer Wholesale to Disctrict Wholesale")
    {
        <div class="page-content-inner">
            <div class="row ">
                <div class="col-md-12">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>@Model.PassTypeInformation
                            </div>
                        </div>
                        <div class="portlet-body form" style="background-color:#f5f5f5">
                            <div class="form-body">
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">From</label>
                                                <div>
                                                    @Html.RadioButtonFor(m => m.SelectedFromRdo, "FL1") FL1
                                                    @Html.RadioButtonFor(m => m.SelectedFromRdo, "FL1A") FL1A
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <div class="col-md-12">
                                                    <label class="control-label">To</label>
                                                </div>
                                                <div class="col-md-6">
                                                    @Html.RadioButtonFor(m => m.SelectedToRdo, "FL2", new { @checked = "checked" }) FL2
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group  col-md-4">
                                        <label class="control-label">Brand Name</label>
                                        <div>
                                            @Html.DropDownListFor(m => m.BrandId, (IEnumerable<SelectListItem>)ViewBag.Brands, new { @id = "ddlBrand", @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group  col-md-4">
                                        <label class="control-label">License No.</label>
                                        <div>
                                            @*@Html.DropDownList("ddlLicenceNo", (IEnumerable<SelectListItem>)ViewBag.LicenceNo, new { @id = "ddlLicenceNo", @class = "form-control" })*@
                                            @Html.TextBox("txtLicenseNo", "", new { @id = "txtLicenseNo", @class = "form-control", @required = "required", @readonly = "true" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="form-group col-md-4">
                                        <label class="control-label">Date</label>
                                        <div>
                                            @Html.EditorFor(m => m.Date, new { htmlAttributes = new { @id = "txtDate", @class = "form-control ", @placeholder = "Date", @required = "required", @disabled = "disbled" } })
                                        </div>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label">Valid Till</label>
                                        <div>
                                            @Html.EditorFor(m => m.ValidTill, new { htmlAttributes = new { @id = "txtValidTill", @class = "form-control ", @placeholder = "Valid Till", @required = "required" } })
                                        </div>
                                    </div>
                                    <div class="form-group   col-md-4">
                                        <label class="control-label">Vehicle Driver Name</label>
                                        <div>
                                            @Html.TextBoxFor(m => m.VehicleDriverName, new { @id = "txtDriverName", @class = "form-control ", @placeholder = "Vehicle Driver Name", @required = "required" })

                                        </div>
                                    </div>


                                </div>
                                <div class="row">

                                    <div class="form-group   col-md-4">
                                        <label class="control-label">Licencee No</label>
                                        <div>
                                            @Html.TextBoxFor(m => m.LicenseeLicenseNo, new { @id = "txtLicenceNo", @class = "form-control ", @placeholder = "Licencee No", @required = "required" })

                                        </div>
                                    </div>


                                    <div class="form-group   col-md-4">
                                        <label class="control-label">Licencee Name</label>
                                        <div>
                                            @Html.TextBoxFor(m => m.LicenseeName, new { @id = "txtLicenceName", @class = "form-control ", @placeholder = "Licencee Name", @required = "required", @disabled = "disbled" })

                                        </div>
                                    </div>

                                    <div class="form-group   col-md-4">
                                        <label class="control-label">Vehicle No</label>
                                        <div>
                                            @Html.TextBoxFor(m => m.VehicleNo, new { @id = "txtVehicleNo", @class = "form-control ", @placeholder = "Vehicle No", @required = "required" })

                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="form-group   col-md-4">
                                        <label class="control-label">Address</label>
                                        <div>
                                            @Html.TextAreaFor(m => m.Address, new { @id = "txtAreaAddress", @class = "form-control ", @placeholder = "Address", @required = "required" })
                                        </div>
                                    </div>

                                    <div class="form-group   col-md-4">
                                        <label class="control-label">Route Details</label>
                                        <div>
                                            @Html.TextAreaFor(m => m.RouteDetails, new { @id = "txtAreaRouteDetails", @class = "form-control ", @placeholder = "Route Details", @required = "required" })
                                        </div>
                                    </div>

                                    <div class="form-group   col-md-4">
                                        <label class="control-label">Vehicle Agency Name And Address</label>
                                        <div>
                                            @Html.TextAreaFor(m => m.VehicleAgencyNameAndAddress, new { @id = "txtAreaVehicleAgencyNameAndAddress", @class = "form-control ", @placeholder = "Vehicle Agency Name And Address", @required = "required" })
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group  ">
                                        <div class="col-md-12">
                                            <label class="control-label">Major Districts in Route</label>
                                        </div>

                                        <div class="col-md-4 ">
                                            @Html.DropDownListFor(m=>m.MDistrictId1, (IEnumerable<SelectListItem>)ViewBag.Districts, new { @id = "MDistrictId1", @class = "form-control col-md-4 " })

                                        </div>
                                        <div class="col-md-4 ">
                                            @Html.DropDownListFor(m => m.MDistrictId2, (IEnumerable<SelectListItem>)ViewBag.Districts, new { @id = "MDistrictId2", @class = "form-control col-md-4 " })

                                        </div>
                                        <div class="col-md-4 ">
                                            @Html.DropDownListFor(m => m.MDistrictId3, (IEnumerable<SelectListItem>)ViewBag.Districts, new { @id = "MDistrictId3", @class = "form-control col-md-4 " })
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <br />
                                    <div class="form-group   col-md-4">
                                        <label class="control-label">Gross Weight</label>
                                        <div>
                                            @Html.TextBoxFor(m => m.GrossWeight, new { @id = "txtGrossWeight", @class = "form-control ", @placeholder = "Gross Weight", @required = "required", @onkeypress = "return isfloatNumber(this, event);", @onChange = "Sum();" })

                                        </div>
                                    </div>
                                    <div class="form-group   col-md-4">
                                        <label class="control-label">Tare Weight</label>
                                        <div>
                                            @Html.TextBoxFor(m => m.TareWeight, new { @id = "txtTareWeight", @class = "form-control ", @placeholder = "Tare Weight", @required = "required", @onkeypress = "return isfloatNumber(this, event);", @onChange = "Sum();" })

                                        </div>
                                    </div>
                                    <div class="form-group   col-md-4">
                                        <label class="control-label">Net Weight</label>
                                        <div>
                                            @Html.TextBoxFor(m => m.NetWeight, new { @id = "txtNetWeight", @class = "form-control ", @placeholder = "Net Weight", @required = "required", @disabled = "disbled" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="clear:both"></div>
                            <center>
                                <div class="form-actions">
                                    <button type="submit" class="btn green">GET LICENCE DETAILS</button>
                                    @*<button type="button" class="btn danger" style="background-color:crimson; color:white">Reset</button>
                                        <button type="button" class="btn default" style="background-color: #659be0;color:white;border-color:#8E44AD" onclick="GetBrandDetail();">GET LICENCE DETAILS</button>*@
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (Model.PassTypeInformation == "District Wholesale to Retailor")
    {
        <div class="page-content-inner">
            <div class="row ">
                <div class="col-md-12">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i> @Model.PassTypeInformation
                            </div>
                        </div>
                        <div class="portlet-body form" style="background-color:#f5f5f5">
                            <div class="form-body">
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Issue Date</label>
                                        <div>
                                            @Html.EditorFor(m => m.Date, new { htmlAttributes = new { @id = "txtDate", @class = "form-control ", @placeholder = "Date", @required = "required" } })
                                        </div>
                                    </div>


                                    <div class="form-group col-md-4">
                                        <label class="control-label">Valid Up To</label>
                                        <div>
                                            @Html.EditorFor(m => m.ValidTill, new { htmlAttributes = new { @id = "txtValidTill", @class = "form-control ", @placeholder = "Valid Till", @required = "required" } })
                                        </div>
                                    </div>

                                    <div class="form-group  col-md-4">
                                        <label class="control-label">Brand Name</label>
                                        <div>
                                            @Html.DropDownListFor(m => m.BrandId, (IEnumerable<SelectListItem>)ViewBag.Brands, new { @id = "ddlBrand", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="form-group col-md-4">
                                        <label class="control-label">Licence No </label>
                                        <div>
                                            @Html.TextBox("txtLicenseNo", "", new { @id = "txtLicenseNo", @class = "form-control", @required = "required", @readonly = "true" })
                                        </div>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label">Shop Name</label>
                                        <div>
                                            @Html.TextBoxFor(m => m.ShopName, new { @id = "txtShopName", @class = "form-control ", @placeholder = "Shop Name", @required = "required" })
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Shop Id</label>
                                        <div>
                                            @Html.TextBoxFor(m => m.ShopId, new { @id = "txtToShopId", @class = "form-control ", @placeholder = "To Shop Id", @required = "required", @onkeyPress = "return IsNumeric(event);" })
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Gate Pass No</label>
                                        <div>
                                            @Html.TextBoxFor(m => m.GatePassNo, new { @id = "txtGatePassNo", @class = "form-control ", @placeholder = "Gate Pass No", @required = "required" })
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label"> License No</label>
                                        <div>
                                            @Html.TextBoxFor(m => m.LicenseeLicenseNo, new { @id = "txtLicenseeLicenseNo", @class = "form-control ", @placeholder = "Licensee License No", @required = "required" })
                                        </div>
                                    </div>

                                    <div class="form-group   col-md-4">
                                        <label class="control-label">Vehicle No</label>
                                        <div>
                                            @Html.TextBoxFor(m => m.VehicleNo, new { @id = "txtVehicleNo", @class = "form-control ", @placeholder = "Vahicle No", @required = "required" })

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group   col-md-4">
                                        <label class="control-label">Vehicle (Driver Name)</label>
                                        <div>
                                            @Html.TextBoxFor(m => m.VehicleDriverName, new { @id = "txtVehicleDriverName", @class = "form-control ", @placeholder = "Vahicle Driver Name", @required = "required" })

                                        </div>
                                    </div>
                                    <div class="form-group   col-md-4">
                                        <label class="control-label">Licensee Name</label>
                                        <div>
                                            @Html.TextAreaFor(m => m.LicenseeName, new { @id = "txtAreaLicenseeName", @class = "form-control ", @placeholder = "Licensee Name", @required = "required" })
                                        </div>
                                    </div>

                                    <div class="form-group   col-md-4">
                                        <label class="control-label">Licensee Address</label>
                                        <div>
                                            @Html.TextAreaFor(m => m.LicenseeAddress, new { @id = "txtAreaLicenseeAddress", @class = "form-control ", @placeholder = "Licensee Address", @required = "required" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="form-group   col-md-6">
                                        <label class="control-label">Route Details</label>
                                        <div>
                                            @Html.TextAreaFor(m => m.RouteDetails, new { @id = "txtAreaRouteDetails", @class = "form-control ", @placeholder = "Route Details", @required = "required" })
                                        </div>
                                    </div>

                                    <div class="form-group   col-md-6">
                                        <label class="control-label">Vehicle (Agency Name And Address)</label>
                                        <div>
                                            @Html.TextAreaFor(m => m.VehicleAgencyNameAndAddress, new { @id = "txtAreaVehicleAgencyNameAndAddress", @class = "form-control ", @placeholder = "Vehicle Agency Name And Address", @required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="clear:both"></div>
                            <center>
                                <div class="form-actions">
                                    <button type="submit" class="btn green">Submit</button>

                                    @*<button type="button" class="btn danger" style="background-color:crimson; color:white">Reset</button>
                                        <button type="button" class="btn default" style="background-color: #659be0;color:white;border-color:#8E44AD" onclick="GetBrandDetail();">Go to Brand Details</button>*@
                                </div>
                            </center>
                        </div>
                        <div class="portlet-body">
                            <div class="table-scrollable">
                                <table class="table table-striped table-bordered table-hover">
                                    <tr>
                                        <th>
                                            @*@Html.DisplayNameFor(model => model.PlanId)*@
                                            S.No
                                        </th>
                                        <th>
                                            @*@Html.DisplayNameFor(model => model.DateOfPlan)*@
                                            Kind of Liquor
                                        </th>
                                        <th>
                                            @*@Html.DisplayNameFor(model => model.LiquorType)*@
                                            Batch No.
                                        </th>

                                        <th>
                                            @*@Html.DisplayNameFor(model => model.LicenceType)*@
                                            Bottles, Flash Quantity
                                            Contained in each

                                        </th>

                                        <th scope="col">
                                            BL(Total Litres)
                                        </th>
                                        <th scope="col">
                                            AL(Total Litres)
                                        </th>
                                        <th>
                                            Alcoholic Strength
                                            @*@Html.DisplayNameFor(model => model.Capacity)*@
                                        </th>

                                        @*<th scope="col"></th>*@
                                    </tr>
                                    @if (Model.DistrictWholeSaleToRetailorList.Count() > 0)
                                    {
                                        foreach (var item in Model.DistrictWholeSaleToRetailorList)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SerialNo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.KindOfLiquor)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.BatchNo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Quantity)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TotalLitresOfBL)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TotalLitresOfAL)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AlcohalicStrength)
                                                </td>

                                                @*<td>
                                                        @Html.ActionLink("Edit", "EditPlan", new { id = item.PlanId }) |
                                                        @Html.ActionLink("Finalize", "PlanFinalize", new { id = item.PlanId }) |
                                                        @Html.ActionLink("Freeze", "PlanFreeze", new { id = item.PlanId }) |
                                                    </td>*@
                                            </tr>
                                        }
                                    }


                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
}
<script src="~/Scripts/CommonScript.js"></script>
<script>

    function Sum() {
        var grossweight = parseFloat($("#txtGrossWeight").val());
        var tareweight = parseFloat($("#txtTareWeight").val());
        var netweight = (grossweight + tareweight);
        $("#txtNetWeight").val(netweight);
    }


</script>
