@model IEnumerable<UPExciseLTE.Models.FormFL21>

@using (Html.BeginForm("FinalizeForm", "MasterForms", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="page-content-inner">
        <div class="row ">
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            @if (Request.QueryString["V"] != null)
                            {
                                if (Request.QueryString["V"].ToString().Trim() != String.Empty)
                                {
                                    if (Request.QueryString["V"].ToString().Trim() == "F")
                                    {
                                        <span><i class="fa fa-gift"></i>Form 21 application approval before challan Fees</span>
                                    }
                                    else if (Request.QueryString["V"].ToString().Trim() == "P")
                                    {
                                        <span><i class="fa fa-gift"></i>Form 21 application approval after challan Fees</span>
                                    }
                                }
                            }
                            
                        </div>
                    </div>
                    <div class="portlet-body form" style="background-color: #f5f5f5">
                        <table class="table table-striped table-bordered table-hover">
                            <tr>
                                <th>Form Id</th>
                                <th>Consigner Name</th>
                                <th>Consignee Name</th>
                                <th>Total Bulk Litre</th>
                                <th>Duty Calculated</th>
                                <th>Permit Fees (if any)</th>
                                <th>Total Fees</th>
                                <th>Import fee (per Ltr.)</th>
                                @if (Request.QueryString["V"].ToString().Trim() == "P")
                                {
                                <th>Transaction No</th>
                                <th>Bank Name</th>
                                <th>Challan Slip</th>
                                }
                                <th>Reason (Mandatory for Rejection)</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FL21ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FromConsignorName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ToConsigeeName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalBL)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DutyCalculated)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PermitFees)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalFees)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RateofPermit)
                                    </td>
                                    @if (Request.QueryString["V"].ToString().Trim() == "P")
                                    {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TransactionNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Bankname)
                                    </td>
                                    <td>
                                        <a href="#" id="hrefChallan" onclick="ShowChallan('@item.ChallanId');">View</a>
                                    </td>
                                    }
                                    <td>
                                        @Html.TextBox("txtReason", "", new { @id = "txtReason_"+item.FL21ID , @class = "form-control",@width="100px",@MaxLength=150})
                                    </td>
                                    <td>
                                        @if (Request.QueryString["V"].Trim() == "F")
                                        {
                                            <button type="button" id="btnFreeze" class="btn default" style="background-color: #659be0;color:white;border-color:#8E44AD" onclick="FinalBrand('V','@item.FL21ID')">Verify Form</button>
                                        }
                                        else if (Request.QueryString["V"].Trim() == "P")
                                        {
                                            <button type="button" id="btnFreeze" class="btn default" style="background-color: #659be0;color:white;border-color:#8E44AD" onclick="FinalizeForm('@item.FL21ID','@item.FromConsignorName','@item.ToConsigeeName','@item.TotalBL','@item.TotalFees','@item.TransactionNo')">Finalize</button>
                                        }
                                    </td>
                                    <td>
                                    @if (Request.QueryString["V"].Trim() == "F")
                                    {
                                      <button type="button" id="btnReject" class="btn danger" style="background-color:crimson; color:white" onclick="FinalBrand('R','@item.FL21ID')" >Reject Form</button>
                                    }
                                    else if (Request.QueryString["V"].Trim() == "P")
                                    {
                                        <button type="button" id="btnReject" class="btn danger" style="background-color:crimson; color:white" onclick="FinalBrand('C','@item.FL21ID')">Reject Challan</button>
                                    }
                                    </td>
                                </tr>
                            }
                        </table>
                        <div id='myModal2' class='modal fade' role='dialog'>
                            <div class='modal-dialog'>
                                <div class='modal-content'>
                                    <div class='portlet box green'>
                                        <div class='portlet-title'><div class='caption'><div>Finalize F.L. 21</div></div><button type='button' class='close' data-dismiss='modal' style='margin-top:15px'>&times;</button></div><div class='portlet-body form' style='background-color:#f5f5f5'>
                                            <div>
                                                <div class='modal-body'>
                                                    <div class="row">
                                                        <div class="form-group  col-md-4">
                                                            <label class="control-label">Form Id<b style="color:red; font-weight:800">*</b></label>
                                                            @Html.TextBox("txtPopFormId", "", new { @id = "txtPopFormId", @class = "form-control", @readonly = true })
                                                        </div>
                                                        <div class="form-group  col-md-4">
                                                            <label class="control-label">Consigner Name<b style="color:red; font-weight:800">*</b></label>
                                                            @Html.TextBox("txtPopConsignerName", "", new { @id = "txtPopConsignerName", @class = "form-control", @readonly = true })
                                                        </div>
                                                        <div class="form-group  col-md-4">
                                                            <label class="control-label">Consignee Name<b style="color:red; font-weight:800">*</b></label>
                                                            @Html.TextBox("txtPopConsigneeName", "", new { @id = "txtPopConsigneeName", @class = "form-control", @readonly = true })
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group  col-md-4">
                                                            <label class="control-label">Total BL<b style="color:red; font-weight:800">*</b></label>
                                                            @Html.TextBox("txtPopTotalBL", "", new { @id = "txtPopTotalBL", @class = "form-control", @readonly = true })
                                                        </div>
                                                        <div class="form-group  col-md-4">
                                                            <label class="control-label">Transaction Fees<b style="color:red; font-weight:800">*</b></label>
                                                            @Html.TextBox("txtPopTotalFees", "", new { @id = "txtPopTotalFees", @class = "form-control", @readonly = true })
                                                        </div>
                                                        <div class="form-group  col-md-4">
                                                            <label class="control-label">Transaction No<b style="color:red; font-weight:800">*</b></label>
                                                            @Html.TextBox("txtPopTransNo", "", new { @id = "txtPopTransNo", @class = "form-control", @readonly = true })
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group  col-md-4">
                                                            <label class="control-label">Valid From Date<b style="color:red; font-weight:800">*</b></label>
                                                            @Html.TextBox("txtPopFromDate", "", new { @id = "txtPopFromDate", @class = "form-control", @maxlength="10",@placeHolder="dd/MM/yyyy" })
                                                        </div>
                                                        <div class="form-group  col-md-4">
                                                            <label class="control-label">Valid To Date<b style="color:red; font-weight:800">*</b></label>
                                                            @Html.TextBox("txtPopToDate", "", new { @id = "txtPopToDate", @class = "form-control", @maxlength = "10", @placeHolder = "dd/MM/yyyy" })
                                                        </div>
                                                    </div>
                                                    <center>
                                                        <input type="button" onclick="FinalBrand('A', document.getElementById('txtPopFormId').value)" value="Finalize Form" class="btn default" style="background-color: #659be0;color:white;border-color:#8E44AD" />
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id='myModal3' class='modal fade' role='dialog'>
                            <div class='modal-dialog'>
                                <div class='modal-content'>
                                    <div class='portlet box green'>
                                        <div class='portlet-title'><div class='caption'><div>Challan Preview</div></div><button type='button' class='close' data-dismiss='modal' style='margin-top:15px'>&times;</button></div><div class='portlet-body form' style='background-color:#f5f5f5'>
                                            <div>
                                                <div class='modal-body'>
                                                    <div id="divChallan"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script type="text/javascript">
    function ShowChallan(ChallanId) {
        $.ajax({
            url: '/BWFL/PreviewChallan',
            data: { 'ChallanId': ChallanId },
            datatype: "json",
            type: "GET",
            success: function (data) {
                document.getElementById("divChallan").innerHTML = data;
                //window.open("data:application/pdf;base64," + data);
                $('#myModal3').modal('show');
            },
            error: function (data) {
                alert("Error in Show Challan Loading");
            }
        });
    }
    function FinalizeForm(FormId, ConsignerName, ConsigneeName, TotalBL, TotalFees, TransNo) {
        document.getElementById("txtPopFormId").value = FormId;
        document.getElementById("txtPopConsignerName").value = ConsignerName;
        document.getElementById("txtPopConsigneeName").value = ConsigneeName;
        document.getElementById("txtPopTotalBL").value = TotalBL;
        document.getElementById("txtPopTotalFees").value = TotalFees;
        document.getElementById("txtPopTransNo").value = TransNo;
        $('#myModal2').modal('show');
    }
    function FinalBrand(status, FL21) {
        var reason = "", txtPopFromDate = "01/01/1900", txtPopToDate = "01/01/1900";
        if (status == "R" || status == "C") {
            var txtReasonId = 'txtReason_' + FL21;
            reason = document.getElementById(txtReasonId).value
            if (reason == "") {
                alert("Please Enter Reason");
                document.getElementById(txtReasonId).focus();
                return false;
            }
        }
        if (status == "A") {
            reason = "Verify Form";
            var r = confirm("Are You sure to finalize this Form.");
            if (r == false) {
                return false;
            }
            txtPopFromDate = document.getElementById("txtPopFromDate").value;
            if (txtPopFromDate == '') {
                alert("Please Enter Valid From Date");
                document.getElementById("txtPopFromDate").focus();
                return false;
            }
            txtPopToDate = document.getElementById("txtPopToDate").value;
            if (txtPopToDate == '') {
                alert("Please Enter Valid To Date");
                document.getElementById("txtPopToDate").focus();
                return false;
            }
        }
        else if (status == "R") {
            var r = confirm("Are You sure to Reject this Form.");
            if (r == false) {
                return false;
            }
           // reason = "Reject Form";
        }
        $.ajax({
            url: '/BWFL/FinalFormFL21',
            data: { 'FL21ID': FL21, 'status': status, 'reason': reason, 'FromDate': txtPopFromDate, 'ToDate': txtPopToDate },
            datatype: "json",
            type: "GET",
            success: function (data) {
                alert(data);
                if (status == 'V') {
                    window.location = "../BWFL/FinalizeFormFL21?V=F";
                }
                else {
                    window.location = "../BWFL/FinalizeFormFL21?V=P";
                }
            },
            error: function (data) {
                alert("Error in final F.L. 21 Loading");
            }
        });
    }
</script>
