@model IEnumerable<UPExciseLTE.Models.FormFL21>

@using (Html.BeginForm("FinalizeBrand", "MasterForms", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="page-content-inner">
        <div class="row ">
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Edit/ Delete F.L. 21
                        </div>
                    </div>
                    <div class="portlet-body form" style="background-color: #f5f5f5">
                        <table class="table table-striped table-bordered table-hover">
                            <tr>
                                <th>Brand Name</th>
                                <th>Consigner Name</th>
                                <th>Consignee Name</th>
                                <th>Total Case</th>
                                <th>Total Bottle/ Can</th>
                                <th>Total Bulk Litre</th>
                                <th>Duty Calculated</th>
                                <th>Permit Fees (if any)</th>
                                <th>Total Fees</th>
                                <th>Import fee (per Ltr.)</th>
                                <th>Transaction No</th>
                                <th>Status</th>
                                <th></th>
                                <th></th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Brand)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FromConsignorName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ToConsigeeName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalCase)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalBottle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalBL)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DutyCalculated)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PermitFees)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalFees)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RateofPermit)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TransactionNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FL21Status1)
                                    </td>
                                    <td>
                                        @if (item.FL21Status == "U")
                                        {
                                            <a href="@Url.Action("FormFL21", "BWFL", new { Code = item.EncFL21IDId })"><label class="btn blue">Edit</label></a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("FormFL21","BWFL", new {Code = item.EncFL21IDId,Mode='V' })"><label class="btn blue">View</label></a>
                                        }
                                    </td>
                                    <td>
                                        @if (item.FL21Status == "A")
                                        {
                                         <a href="@Url.Action("PreviewFL22", "BWFL", new { Code = item.EncFL21IDId })"><label class="btn blue">Print Form FL22</label></a>
                                        @*<button type="button" id="btnPrintForm" class="btn default" style="background-color: #659be0;color:white;border-color:#8E44AD" onclick="PrintForm('@item.FL21ID')">Print Form FL22</button>*@
                                        }
                                        else if (item.FL21Status == "U")
                                        {
                                            <button type="button" id="btnFinal" class="btn danger" style="background-color:crimson; color:white" onclick="FinalBrand('P','@item.FL21ID')">Final Brand</button>
                                        }

                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    function FinalBrand(status,FL21) {
        var reason = "";
        if (status == "P") {
            reason = "Final Form";
            var r = confirm("Are You sure to Final this Form.");
            if (r == false) {
                return false;
            }
        }
        $.ajax({
            url: '/BWFL/FinalFormFL21',
            data: { 'FL21ID': FL21, 'status': status, 'reason': reason },
            datatype: "json",
            type: "GET",
            success: function (data) {
                alert(data);
                window.location = "../BWFL/FinalFormFL21";
            },
            error: function (data) {
                alert("Error in final F.L. 21 Loading");
            }
        });
    }
</script>