@model UPExciseLTE.Models.TankTransferDetail

@{
    ViewBag.Title = "BlendingVATtfBottelingVAT";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string str = ViewBag.Msg;
    if (!string.IsNullOrEmpty(str))
    {
        <script type="text/javascript"> var msg = '@ViewBag.Msg'; alert(msg);</script>
    }
}

@using (Html.BeginForm("BlendingVATtfBottelingVATCL", "CL", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="page-content-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <span><i class="fa fa-gift"></i>&nbsp; Blending VAT Transfer To Bottling VAT&nbsp;(@UserSession.LoggedInUserName.ToString())</span>
                        </div>
                    </div>
                    <div class="portlet-body form" style="background-color:#f5f5f5">
                        <div class="form-body">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">Blending VAT<b style="color:red; font-weight:800">*</b></label>
                                    @Html.DropDownListFor(m => m.IssuedFromBlendingId, (IEnumerable<SelectListItem>)ViewBag.BlendingVAT, new { @id = "ddlIssuedFromBlendingVATId", @class = "form-control" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Brand (In Blending VAT)</label>
                                    @Html.TextBox("txtBlendingBrand", "", new { @id = "txtBlendingBrand", @class = "form-control", @readonly = true })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Blending Spirit Type</label>
                                    @Html.TextBox("txtBlendingSpiritType", "", new { @id = "txtBlendingSpiritType", @class = "form-control", @readonly = true })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">Bottling VAT<b style="color:red; font-weight:800">*</b></label>
                                    @Html.DropDownListFor(m => m.BottlingVATId, (IEnumerable<SelectListItem>)ViewBag.BottelingVAT, new { @id = "ddlBottelingId", @class = "form-control" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Brand (In Bottling VAT)</label>
                                    @Html.TextBox("txtBottlingBrand", "", new { @id = "txtBottlingBrand", @class = "form-control", @readonly = true })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Bottling VAT Capacity</label>
                                    @Html.TextBox("txtBottelingCapacity", "", new { @id = "txtBottelingCapacity", @class = "form-control", @readonly = true })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">Blending VAT (Opening BL)</label>
                                    @Html.TextBox("txtBlendingBal", "", new { @id = "txtBlendingBal", @class = "form-control", @readonly = true })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Blending VAT (Opening Strength)</label>
                                    @Html.TextBox("txtBlendingOpStrength", "", new { @id = "txtBlendingBal", @class = "form-control", @readonly = true })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Blending VAT (Opening AL)</label>
                                    @Html.TextBox("txtBlendingOpAL", "", new { @id = "txtBlendingBal", @class = "form-control", @readonly = true })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">Bottling VAT (Opening BL)</label>
                                    @Html.TextBox("txtBottelingBal", "", new { @id = "txtBottelingBal", @class = "form-control", @readonly = true })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Bottling VAT (Opening Strength)</label>
                                    @Html.TextBox("txtBottelingOpStrength", "", new { @id = "txtBottelingOpStrength", @class = "form-control", @readonly = true })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Bottling VAT (Opening AL)</label>
                                    @Html.TextBox("txtBottelingOpAL", "", new { @id = "txtBottelingOpAL", @class = "form-control", @readonly = true })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">Blending VAT BL (After Transfer)</label>
                                    @Html.TextBox("txtBlendingBal", "", new { @id = "txtBlendingBal", @class = "form-control" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Blending VAT Strength (After Transfer)</label>
                                    @Html.TextBox("txtBlendingOpStrength", "", new { @id = "txtBlendingBal", @class = "form-control" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Blending VAT AL (After Transfer)</label>
                                    @Html.TextBox("txtBlendingOpAL", "", new { @id = "txtBlendingBal", @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">Bottling VAT BL (After Transfer)</label>
                                    @Html.TextBox("txtBlendingBal", "", new { @id = "txtBlendingBal", @class = "form-control" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Bottling VAT Strength (After Transfer)</label>
                                    @Html.TextBox("txtBlendingOpStrength", "", new { @id = "txtBlendingBal", @class = "form-control" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Bottling VAT AL (After Transfer)</label>
                                    @Html.TextBox("txtBlendingOpAL", "", new { @id = "txtBlendingBal", @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">Net Transfer BL</label>
                                    @Html.TextBox("txtBlendingBal", "", new { @id = "txtBlendingBal", @class = "form-control", @readonly = true })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Net Transfer Strength</label>
                                    @Html.TextBox("txtBlendingOpStrength", "", new { @id = "txtBlendingBal", @class = "form-control", @readonly = true })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Net Transfer AL</label>
                                    @Html.TextBox("txtBlendingOpAL", "", new { @id = "txtBlendingBal", @class = "form-control", @readonly = true })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">Net Receive BL</label>
                                    @Html.TextBox("txtBlendingBal", "", new { @id = "txtBlendingBal", @class = "form-control", @readonly = true })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Net Receive Strength</label>
                                    @Html.TextBox("txtBlendingOpStrength", "", new { @id = "txtBlendingBal", @class = "form-control", @readonly = true })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Net Receive AL</label>
                                    @Html.TextBox("txtBlendingOpAL", "", new { @id = "txtBlendingBal", @class = "form-control", @readonly = true })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">Wastage BL</label>
                                    @Html.TextBox("txtBlendingBal", "", new { @id = "txtBlendingBal", @class = "form-control", @readonly = true })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Wastage Strength</label>
                                    @Html.TextBox("txtBlendingOpStrength", "", new { @id = "txtBlendingBal", @class = "form-control", @readonly = true })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Wastage AL</label>
                                    @Html.TextBox("txtBlendingOpAL", "", new { @id = "txtBlendingBal", @class = "form-control", @readonly = true })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">Remark<b style="color:red; font-weight:800">*</b></label>
                                    @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", @id = "txtRemark", @required = "required", @maxlength = "10", @onkeyUp = "Calculation();" })
                                </div>
                            </div>
                            @*<div class="row">
            <div class="form-group col-md-4">
                <label class="control-label">Transfer form Blending BL (as per dip book)<b style="color:red; font-weight:800">*</b></label>
                @Html.TextBoxFor(m => m.dipForm, new { @id = "txtDipFrom", @class = "form-control", @onkeyUp = "CheckTransfer();", @required = "required", @onkeypress = "return isfloatNumber(this, event);", @MaxLength = 5 })
            </div>
            <div class="form-group col-md-4">
                <label class="control-label">Received in Bottling BL (as per dip book)<b style="color:red; font-weight:800">*</b></label>
                @Html.TextBoxFor(m => m.dipTo, "", new { @id = "txtDipTo", @class = "form-control", @onkeyUp = "CheckTransfer();", @onkeypress = "return isfloatNumber(this, event);", @MaxLength = 5 })
            </div>
            <div class="form-group col-md-4">
                <label class="control-label">Tank Transfer Wastage AL</label>
                @Html.TextBoxFor(m => m.Wastage, new { @id = "txtWastageBL", @class = "form-control", @readonly = true, @required = "required", @onkeypress = "return isfloatNumber(this, event);", @MaxLength = 5 })
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="control-label">Dip of Bottling VAT<b style="color:red; font-weight:800">*</b></label>
                @Html.TextBoxFor(model => model.Dip, new { @class = "form-control", @id = "txtDip", onkeypress = "return isfloatNumber(this, event);", @required = "required", @maxlength = "10" })
            </div>
            <div class="form-group col-md-4">
                <label class="control-label">Temperature (in °C)<b style="color:red; font-weight:800">*</b></label>
                @Html.TextBoxFor(model => model.Temperature, new { @class = "form-control", @id = "txtTemp", onkeypress = "return isfloatNumber(this, event);", @required = "required", @maxlength = "10" })
            </div>
            <div class="form-group col-md-4">
                <label class="control-label">Indication<b style="color:red; font-weight:800">*</b></label>
                @Html.TextBoxFor(model => model.Indication, new { @class = "form-control", @id = "txtIndication", onkeypress = "return isfloatNumber(this, event);", @required = "required", @maxlength = "10" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="control-label">Alcoholic Liter of Blending VAT<b style="color:red; font-weight:800">*</b></label>
                @Html.TextBox("txtBlendingVATAL", "", new { @id = "txtBlendingVATAL", @class = "form-control", @readonly = true })
            </div>
            <div class="form-group col-md-4">
                <label class="control-label">Alcoholic Liter of Bottling VAT<b style="color:red; font-weight:800">*</b></label>
                @Html.TextBoxFor(model => model.IssueAL, new { @class = "form-control", @id = "txtIssueAL", onkeypress = "return isfloatNumber(this, event);", @required = "required", @maxlength = "10", @onkeyUp = "Calculation();" })
            </div>

            <div class="form-group col-md-4">
                <label class="control-label">Remark<b style="color:red; font-weight:800">*</b></label>
                @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", @id = "txtRemark", @required = "required", @maxlength = "10", @onkeyUp = "Calculation();" })
            </div>
        </div>*@
                        </div>
                        <div class="clearfix"></div>
                        <center>
                            <div class="form-actions">
                                <button type="submit" class="btn green" onclick="return Validation();">Submit</button>
                                <button type="button" class="btn danger" style="background-color:crimson; color:white">Reset</button>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    function Validation()
    {
        if (document.getElementById("txtWastageBL").value.trim()=="") {
            document.getElementById("txtWastageBL").value = 0;
        }
        var UnitTankId = $('#ddlUnitTank').val();
        if (UnitTankId == "-1") {
            alert("Please Select Unit Tank");
            $('#ddlUnitTank').focus();
            return false;
        }
        var BottlingTank = $('#ddlBBT').val();
        if (BottlingTank == "-1") {
            alert("Please Select Bottling Tank");
            $('#ddlBBT').focus();
            return false;
        }
        if (document.getElementById("txtTransferBL").value.trim() == "" || parseFloat(document.getElementById("txtTransferBL").value.trim()) <= 0) {
            alert("Please Enter Valid Transfer Bulk Litre");
            document.getElementById("txtTransferBL").focus();
            return false;
        }
    }
    function isfloatNumber(txt, evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode == 46) {
            //Check if the text already contains the . character
            if (txt.value.indexOf('.') === -1) {
                return true;
            } else {
                return false;
            }
        } else {
            if (charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;
        }
        return true;
    }
    $('#ddlIssuedFromBlendingVATId').change(function () {
        var UnitTankId = $('#ddlIssuedFromBlendingVATId').val();
        if (UnitTankId != "-1") {
            UnitTankChange(UnitTankId);
        }
    });
    function UnitTankChange(UnitTankId) {
        $.ajax({
            url: '/CL/GetBlendingVATForDDl',
            data: { 'BVId': UnitTankId },
            datatype: "json",
            type: "GET",
            success: function (data) {
                var res = data.split(",");
                document.getElementById("txtBlendingBal").value = res[0];
                document.getElementById("txtBlendingSpiritType").value = res[2];
                document.getElementById("txtBlendingVATAL").value = res[4];
            },
            error: function (data) {
                alert("Error in GetUnitTankForDDl Loading");
            }
        });
    }
    $('#ddlBottelingId').change(function () {
        var BBTId = $('#ddlBottelingId').val();
        if (BBTId != "-1") {
            BBTChange(BBTId);
        }
    });
    function BBTChange(BBTId) {
        $.ajax({
            url: '/CL/GetBottlingTankForddl',
            data: { 'BTID': BBTId },
            datatype: "json",
            type: "GET",
            success: function (data) {
                var res = data.split(",");
                document.getElementById("txtBottelingBal").value = res[0];
                document.getElementById("txtBottelingCapacity").value = res[1];
            },
            error: function (data) {
                alert("Error in GetBBTForDDl Loading");
            }
        });
    }
    function CheckTransfer()
    {
        var txtdipForm = parseFloat(document.getElementById("txtDipFrom").value);
        var txtdipTo = parseFloat(document.getElementById("txtDipTo").value);
        if (txtdipTo > txtdipForm) {
            alert("Max Transfer BL is " + txtdipForm);
            document.getElementById("txtDipTo").value = txtdipForm;

        }
        document.getElementById("txtWastageBL").value = txtdipForm - txtdipTo;
    }
</script>


