@model UPExciseLTE.Models.TankTransferDetail


@{
    ViewBag.Title = "Receive Wort Into Storage VAT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ReceiveStorageVATCL", "CL", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken(){
        if (ViewBag.Msg != null && ViewBag.Msg != string.Empty)
        {
            <script type="text/javascript"> var msg = '@ViewBag.Msg'; alert(msg);</script>
        }
    }
    <div class="page-content-inner">
        <div class="row ">
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <span><i class="fa fa-gift"></i>&nbsp;Receive Spirit Into Storage VAT</span>
                        </div>
                    </div>
                    <div class="portlet-body form" style="background-color: #f5f5f5">
                        <div class="form-body">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">Type of Spirit<b style="color:red; font-weight:800">*</b></label>
                                    @Html.DropDownListFor(model => model.SpiritTypeId, (IEnumerable<SelectListItem>)ViewBag.SpiritType, new { @id = "ddlSpiritType", @class = "form-control", @required = "required", @placeholder = "dd/MM/yyyy", @disabled = "disabled" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Storage VAT<b style="color:red; font-weight:800">*</b></label>
                                    @Html.DropDownListFor(model => model.IssuedFromSVId, (IEnumerable<SelectListItem>)ViewBag.IssuedFromSVId, new { @id = "ddlSVId", @class = "form-control", @required = "required", @placeholder = "dd/MM/yyyy" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Storage VAT Capacity (in Bulk Litre)</label>
                                    @Html.TextBox("StorageVCapacity", "", new { @class = "form-control", @id = "txtUnitTankCapacity", @readonly = "true" })
                                </div>
                            </div>
                            <h4>Opening  Balance of Storage  VAT </h4>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">BL<b style="color:red; font-weight:800">*</b></label>
                                    @Html.TextBoxFor(model => model.StorageVATBulkLiter, new { @id = "txtBL", @class = "form-control", @required = "required", @Value = "", @type = "text", @disabled = "disabled" })

                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Strength<b style="color:red; font-weight:800">*</b></label>
                                    @Html.TextBoxFor(model => model.StorageVATStrength, new { @id = "txtStength", @class = "form-control", @required = "required", @Value = "", @type = "text", @disabled = "disabled" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">AL</label>
                                    @Html.TextBoxFor(model => model.StorageVATAlcoholicLiter, new { @id = "txtAL", @class = "form-control", @required = "required", @Value = "", @type = "text", @disabled = "disabled" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">Source of spirit<b style="color:red; font-weight:800">*</b></label>
                                    <select id="ddlsource_sp"  class="form-control">
                                        <option value="-1">select</option>
                                        <option value="P">Purchase</option>
                                        <option value="R">Reciver</option>
                                        
                                    </select>

                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Storage Type<b style="color:red; font-weight:800">*</b></label>

                                    <select id="ddlsource_spP" class="form-control">
                                        <option value="-1">select</option>
                                        <option value="-1">Out of Country</option>
                                        <option value="-1">Out of State</option>
                                        <option value="-1">With in State</option>

                                    </select>
                                    <select id="ddlsource_spR" class="form-control hide">
                                        <option value="-1">select</option>
                                        <option value="-1">Distillation</option>
                                        <option value="-1">Re-distillation</option>
                                        
                                    </select>
                                </div>
                                <div class="form-group col-md-4 hide"  id="divRecivertype">
                                    <label class="control-label">Receiver Type<b style="color:red; font-weight:800">*</b></label>
                                    <select id="ddlsource_sp" class="form-control">
                                        <option value="-1">select</option>
                                        <option>Reciver 1</option>
                                        <option>Reciver 2</option>
                                        
                                    </select>
                                </div>
                            </div>


                            <div class="row hide" id="divpurchase">
                                <div class="form-group col-md-3">
                                    <label class="control-label">Pass No<b style="color:red; font-weight:800">*</b></label>
                                    @Html.TextBoxFor(model => model.StorageVATBulkLiter, new { @id = "txtBL", @class = "form-control", @required = "required", @Value = "", @type = "text" })

                                </div>
                                <div class="form-group col-md-3">
                                    <label class="control-label">BL<b style="color:red; font-weight:800">*</b></label>
                                    @Html.TextBoxFor(model => model.StorageVATStrength, new { @id = "txtStength", @class = "form-control", @required = "required", @Value = "", @type = "text"})
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="control-label">Strength<b style="color:red; font-weight:800">*</b>
                                    </label>
                                    @Html.TextBoxFor(model => model.StorageVATAlcoholicLiter, new { @id = "txtAL", @class = "form-control", @required = "required", @Value = "", @type = "text"})
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="control-label">AL<b style="color:red; font-weight:800">*</b></label>
                                    @Html.TextBoxFor(model => model.StorageVATAlcoholicLiter, new { @id = "txtAL", @class = "form-control", @required = "required", @Value = "", @type = "text", @disabled = "disabled" })
                                </div>
                            </div>


                            <div id="divReciver" class="hide">
                                <h4>Reciver Opening Balance</h4>
                                <div class="row">

                                    <div class="form-group col-md-4">
                                        <label class="control-label">BL<b style="color:red; font-weight:800">*</b></label>
                                        @Html.TextBoxFor(model => model.StorageVATBulkLiter, new { @id = "txtBL", @class = "form-control", @required = "required", @Value = "", @type = "text", })

                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Strength<b style="color:red; font-weight:800">*</b></label>
                                        @Html.TextBoxFor(model => model.StorageVATStrength, new { @id = "txtStength", @class = "form-control", @required = "required", @Value = "", @type = "text", })
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">AL<b style="color:red; font-weight:800">*</b></label>
                                        @Html.TextBoxFor(model => model.StorageVATAlcoholicLiter, new { @id = "txtAL", @class = "form-control", @required = "required", @Value = "", @type = "text", })
                                    </div>
                                </div>
                                <h4>Reciver closing Balance </h4>
                                <div class="row">

                                    <div class="form-group col-md-4">
                                        <label class="control-label">BL<b style="color:red; font-weight:800">*</b></label>
                                        @Html.TextBoxFor(model => model.StorageVATBulkLiter, new { @id = "txtBL", @class = "form-control", @required = "required", @Value = "", @type = "text", })

                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Strength<b style="color:red; font-weight:800">*</b></label>
                                        @Html.TextBoxFor(model => model.StorageVATStrength, new { @id = "txtStength", @class = "form-control", @required = "required", @Value = "", @type = "text", })
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">AL<b style="color:red; font-weight:800">*</b></label>
                                        @Html.TextBoxFor(model => model.StorageVATAlcoholicLiter, new { @id = "txtAL", @class = "form-control", @required = "required", @Value = "", @type = "text", })
                                    </div>
                                </div>
                                <h4>Net Transfer Balance</h4>
                                <div class="row">

                                    <div class="form-group col-md-4">
                                        <label class="control-label">BL<b style="color:red; font-weight:800">*</b></label>
                                        @Html.TextBoxFor(model => model.StorageVATBulkLiter, new { @id = "txtBL", @class = "form-control", @required = "required", @Value = "", @type = "text", })

                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Strength<b style="color:red; font-weight:800">*</b></label>
                                        @Html.TextBoxFor(model => model.StorageVATStrength, new { @id = "txtStength", @class = "form-control", @required = "required", @Value = "", @type = "text", })
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">AL<b style="color:red; font-weight:800">*</b></label>
                                        @Html.TextBoxFor(model => model.StorageVATAlcoholicLiter, new { @id = "txtAL", @class = "form-control", @required = "required", @Value = "", @type = "text", })
                                    </div>
                                </div>
                                <h4>Closing Balance of Storage Vat</h4>
                                <div class="row">

                                    <div class="form-group col-md-4">
                                        <label class="control-label">BL<b style="color:red; font-weight:800">*</b></label>
                                        @Html.TextBoxFor(model => model.StorageVATBulkLiter, new { @id = "txtBL", @class = "form-control", @required = "required", @Value = "", @type = "text", })

                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Strength<b style="color:red; font-weight:800">*</b></label>
                                        @Html.TextBoxFor(model => model.StorageVATStrength, new { @id = "txtStength", @class = "form-control", @required = "required", @Value = "", @type = "text", })
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">AL<b style="color:red; font-weight:800">*</b></label>
                                        @Html.TextBoxFor(model => model.StorageVATAlcoholicLiter, new { @id = "txtAL", @class = "form-control", @required = "required", @Value = "", @type = "text", })
                                    </div>
                                </div>

                                <h4>Net Recive</h4>
                                <div class="row">

                                    <div class="form-group col-md-4">
                                        <label class="control-label">BL<b style="color:red; font-weight:800">*</b></label>
                                        @Html.TextBoxFor(model => model.StorageVATBulkLiter, new { @id = "txtBL", @class = "form-control", @required = "required", @Value = "", @type = "text", @disabled = "disabled" })

                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Strength<b style="color:red; font-weight:800">*</b></label>
                                        @Html.TextBoxFor(model => model.StorageVATStrength, new { @id = "txtStength", @class = "form-control", @required = "required", @Value = "", @type = "text", @disabled = "disabled" })
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">AL<b style="color:red; font-weight:800">*</b></label>
                                        @Html.TextBoxFor(model => model.StorageVATAlcoholicLiter, new { @id = "txtAL", @class = "form-control", @required = "required", @Value = "", @type = "text", @disabled = "disabled" })
                                    </div>
                                </div>


                                <h4> Wastage</h4>
                                <div class="row">

                                    <div class="form-group col-md-4">
                                        <label class="control-label">BL<b style="color:red; font-weight:800">*</b></label>
                                        @Html.TextBoxFor(model => model.StorageVATBulkLiter, new { @id = "txtBL", @class = "form-control", @required = "required", @Value = "", @type = "text", @disabled= "disabled" })

                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Strength<b style="color:red; font-weight:800">*</b></label>
                                        @Html.TextBoxFor(model => model.StorageVATStrength, new { @id = "txtStength", @class = "form-control", @required = "required", @Value = "", @type = "text", @disabled = "disabled" })
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">AL<b style="color:red; font-weight:800">*</b></label>
                                        @Html.TextBoxFor(model => model.StorageVATAlcoholicLiter, new { @id = "txtAL", @class = "form-control", @required = "required", @Value = "", @type = "text", @disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <center>
                            <div class="form-actions">
                                <button type="submit" class="btn green" onclick="return Validation();">Submit</button>
                                <button type="button" class="btn danger" style="background-color:crimson; color:white">Reset</button>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script type="text/javascript">

    $('#ddlSVId').change(function () {
        var SVId = $('#ddlSVId').val();
        if (SVId != "-1") {
            UnitTankChange(SVId);
        }
    });
    $('#ddlsource_sp').change(function () {
        if (document.getElementById('ddlsource_sp').value=="P") {
            $('#ddlsource_spR').addClass('hide');
            $('#ddlsource_spP').removeClass('hide');
            $('#divpurchase').removeClass('hide');
            $('#divReciver').addClass('hide');

        }
        else {
            $('#ddlsource_spP').addClass('hide');
            $('#ddlsource_spR').removeClass('hide');
            $('#divReciver').removeClass('hide');
            $('#divpurchase').addClass('hide');
        }
        
    });
    function Validation() {
        var UnitTankId = $('#ddlSVId').val();
        if (UnitTankId == "-1") {
            alert("Please Select Storage VAT");
            return false;
        }
        if (document.getElementById("txtUnitTankReceiveBL").value.trim() == "" || parseFloat(document.getElementById("txtUnitTankReceiveBL").value.trim()) <= 0) {
            alert("Please Enter valid receive Quantity");
            return false;
        }
    }
    function UnitTankChange(UnitTankId) {
        $.ajax({
            url: '/CL/GetStorageVATDetails',
            data: { 'SVID': UnitTankId },
            datatype: "json",
            type: "GET",
            success: function (data) {
                //var res = data.split(",");
                document.getElementById("txtUnitTankCapacity").value = data[0];
                document.getElementById("txtStength").value = data[2];
                document.getElementById("txtAL").value = data[3];
                document.getElementById("txtBL").value = data[1];
                //document.getElementById("txtSpiritType").value = res[1];
                //document.getElementById("txtUnitTankBalance").value = res[2];
            },
            error: function (data) {
                alert("Error in GetBrandDetailsForDDl Loading");
            }
        });
    }
    function Calculation() {
        var ReceiveLtr = document.getElementById("txtUnitTankReceiveBL").value;
        var Balance = parseFloat(document.getElementById("txtUnitTankCapacity").value) - parseFloat(document.getElementById("txtUnitTankBalance").value);
        if (parseFloat(Balance) < parseFloat(ReceiveLtr)) {
            alert("Maximum Received Quantity is " + Balance)
            document.getElementById("txtUnitTankReceiveBL").value = Balance;
        }
    }
</script>
