@model UPExciseLTE.Models.BottelingPlan

@{
    ViewBag.Title = "Bottling Plan";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (ViewBag.Msg != null && ViewBag.Msg != string.Empty)
    {
        <script type="text/javascript"> var msg = '@ViewBag.Msg'; alert(msg);</script> 
    }
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script type="text/javascript">
    var specialKeys = new Array();
    specialKeys.push(47); // for Forward Slash(/)
    specialKeys.push(8); //Backspace
    specialKeys.push(9); // Tab
    specialKeys.push(37); // for left Arrow
    //  specialKeys.push(39); // for Right Arrow
    function IsNumeric(e) {
        var keyCode = e.which ? e.which : e.keyCode
        var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1); // For Decimal To All Number
        if (ret == false) {
            //alert("Only numaric value allowed.");
        }
        return ret;
    }

</script>
@using (Html.BeginForm("BottelingPlan", "MasterForms", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <div class="page-content-inner">
        <div class="row ">
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            @if (Model.Type == 1)
                            {
                            <span> <i class="fa fa-gift"></i>&nbsp;Bottling Plan Entry&nbsp;(Daily Bottling Plan)</span>
                            }
                            else
                            {
                                <span> <i class="fa fa-gift"></i>&nbsp;Update Bottling Plan (Daily Bottling Plan)</span>
                            }

                        </div>
                    </div>
                    @Html.HiddenFor(m => m.PlanId)
                    @Html.HiddenFor(m => m.EncPlanId)
                    @Html.HiddenFor(m =>m.Type)
                    <div class="portlet-body form" style="background-color: #f5f5f5">
                        <div class="form-body">
						<div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label">Date of Plan</label>
                                @Html.TextBoxFor(m => m.DateOfPlan1, new { @id = "txtDateofPlan", @class = "form-control", @required = "required",@placeholder="dd/MM/yyyy" })
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Batch No</label>
                                @Html.TextBoxFor(m => m.BatchNo, new { @id = "txtBatchNo", @class = "form-control", @required = "required" })
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Brand</label>
                                @Html.DropDownListFor(m => m.BrandId, (IEnumerable<SelectListItem>)ViewBag.Brand, new { @id = "ddlBrand", @class = "form-control" })
                            </div>
						</div>
						<div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label">For Mapped/ Unmapped Data</label>
                                @Html.DropDownListFor(m =>m.MappedOrNot, new List<SelectListItem> { new SelectListItem { Text = "Mapped", Value = "1" }, new SelectListItem { Text = "UnMapped", Value = "0" } }, new { @id = "ddlMaped", @class = "form-control" })
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Liquor Type</label>
                                @Html.TextBoxFor(m=>m.LiquorType,  new { @id = "txtLiquorType", @class = "form-control", @required = "required", @readonly = "true" })
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">License Type</label>
                                @Html.TextBoxFor(m =>m.LicenceType, new { @id = "txtLicenseType", @class = "form-control", @required = "required", @readonly = "true" })
                            </div>
							</div>
						<div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label">License No</label>
                                @Html.TextBoxFor(m=>m.LicenseNo, new { @id = "txtLicenseNo", @class = "form-control", @required = "required", @readonly = "true" })
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">State</label>
                                <div>
                                    @Html.TextBoxFor(m=>m.State,  new { @id = "txtState", @class = "form-control", @required = "required", @readonly = "true" })
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Number of Case</label>
                                @Html.TextBoxFor(m => m.NumberOfCases, new { @id = "txtNoOfCase", @class = "form-control", @required = "required", @onkeyPress = "return IsNumeric(event);",@onkeyUp= "Calculation();" })
                            </div>
							</div>
						<div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label" id="lblBoxQuantity">Box-Size (Number of Bottles)</label>
                                @Html.TextBoxFor(m => m.QunatityInCaseExport, new { @id = "txtBottleInCase", @class = "form-control", @required = "required", @onkeyPress = "return IsNumeric(event);", @readonly = "true", @onkeyUp = "Calculation();" })
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Bottle/ Can Capacity (in ml.)</label>
                                @Html.TextBoxFor(m=>m.BottleCapacity, new { @id = "txtQuantityInBottle", @class = "form-control", @required = "required", @onkeyPress = "return IsNumeric(event);",@readonly="true" })
                            </div>

                            <div class="form-group col-md-4">
                                <label class="control-label">Strength of Alcohol</label>
                                @Html.TextBoxFor(m=>m.Strength, new { @id = "txtStrength", @class = "form-control", @required = "required", @readonly = "true" }) @*Mild or Strong not show percent*@
                            </div>
							</div>
						<div class="row">
                            <div class="form-group col-md-4">
                                <label class="control-label">Bulk Liter</label>
                                @Html.TextBoxFor(m => m.BulkLiter, new { @id = "lblBulkLitre", @class = "form-control", @required = "required", @readonly = "true" })
                            </div>
                             <div class="form-group col-md-4">
                                <label class="control-label">Total Unit (Cans/Bottles)</label>
                                @Html.TextBoxFor(m => m.TotalUnitQuantity, new { @id = "lblTotalUnitQuantity", @class = "form-control", @required = "required", @readonly = "true" })
                            </div>
							</div>
						
                        </div>
                        <div class="clearfix"></div>
                        <center>
                        <div class="form-actions">
                           <button type="submit" class="btn green">Submit</button>
                                <button type="button" class="btn danger" style="background-color:crimson; color:white">Reset</button>
                                <button type="button" class="btn default" style="background-color: #659be0;color:white;border-color:#8E44AD" onclick="GetBrandDetail();">Go to Edit/Finalize Bottling Plan</button>
                        </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script type="text/javascript">
    function GetBrandDetail() {
        var url = '@Url.Action("EditFinalBottelingPlan", "MasterForms", null)';
        window.location.href = url;
    }
</script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#txtDateofPlan").datepicker({

            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true
        });
    });
    $('#ddlBrand').change(function () {
        var BrandId = $('#ddlBrand').val();
        if (BrandId != "-1") {
            BrandChange(BrandId);
        }
    });

    function BrandChange(BrandId) {
        $.ajax({
            url: '/MasterForms/GetBrandDetailsForDDl',
            data: { 'BrandId': BrandId },
            datatype: "json",
            type: "GET",
            success: function (data) {
                var res = data.split(",");
                document.getElementById("txtLiquorType").value = res[0];
                document.getElementById("txtLicenseType").value =  res[1];
                document.getElementById("txtLicenseNo").value = res[2];
                document.getElementById("txtBottleInCase").value = res[3];
                document.getElementById("txtQuantityInBottle").value = res[4];
                document.getElementById("txtStrength").value = res[5];
                document.getElementById("txtState").value = res[6];
                 
            },
            error: function (data) {
                alert("Error in GetBrandDetailsForDDl Loading");
            }
        });
    }
   
    function Calculation()
    {
        var NoofCase = document.getElementById("txtNoOfCase").value;
        var txtBottleInCase = document.getElementById("txtBottleInCase").value;
        if (NoofCase != null && NoofCase != '' && txtBottleInCase != null && txtBottleInCase != '') {
            var Quantity = document.getElementById("txtQuantityInBottle").value;

            var lblBulkLitre = (parseFloat(NoofCase) * parseFloat(txtBottleInCase) * parseFloat(Quantity))/1000;
            var TotalUnit = NoofCase * txtBottleInCase;
            document.getElementById("lblBulkLitre").value = lblBulkLitre;
            document.getElementById("lblTotalUnitQuantity").value = TotalUnit;
        }
    }
</script>


