@model IEnumerable<UPExciseLTE.Models.BBTMaster>

@{
    ViewBag.Title = "Edit/Delete Bottling Tank";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string str = ViewBag.Msg;
}
@using (Html.BeginForm("GetBBTDetails", "MasterForms", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    if (str != null && str.Trim() != string.Empty)
    {
        <script type="text/javascript"> var msg = '@ViewBag.Msg'; alert(msg);</script>
    }
    <div id="Msg">
    </div>
    <div class="page-content-inner">
        <div class="row ">
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Edit/Delete Bottling Tank
                        </div>
                    </div>
                    <div class="portlet-body form" style="background-color: #f5f5f5">
                        <table class="table table-striped table-bordered table-hover">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.BBTId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BBTName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BBTCapacity)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BBTBulkLitre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status1)
                                </th>
                                <th>Edit </th>
                                <th>Delete</th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BBTId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BBTName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BBTCapacity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BBTBulkLitre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status1)
                                    </td>
                                    <td>
                                        @if (item.IsApproved == "False")
                                        {
                                            <button type="button" class="btn green" style="background-color: #659be0; color:white" onclick="window.location.href='@Url.Action("BBTMaster", "MasterForms", new { Code = item.BBTId_Encript })'">Edit</button>
                                            <button type="button" class="btn green" style="background-color: #659be0; color:white" onclick="ApprovedBBT('@item.BBTId','1')">Approved</button>
                                        }
                                    </td>
                                    <td>
                                        @if (item.Status == "A")
                                        {
                                            <button type="button" class="btn danger" style="background-color:crimson; color:white" onclick="DeleteBBT('@item.BBTId','D')">Deactive</button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn green" onclick="DeleteBBT('@item.BBTId','A')">Active</button>
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script src="~/Scripts/CommonScript.js"></script>
<script type="text/javascript">
    @*function BrandMaster() {
        var url = '@Url.Action("BrandMaster", "MasterForms", null)';
        window.location.href = url;
    }*@
    function DeleteBBT(BBTId, status)
    {        
        $.ajax({
            url: '/MasterForms/DeleteBBT',
            data: { 'bbtId': BBTId, 'status': status },
            datatype: "html",
            type: "GET",
            success: function (data) {
                alert(data);
                location.reload();
                },
            error: function (data) {
                alert("Error in final brand Loading");
            }
        });
    }
    function ApprovedBBT(BBTId, status)
    {
        
        $.ajax({
            url: '/MasterForms/ApprovedBBT',
            data: { 'bbtId': BBTId, 'status': status },
            datatype: "html",
            type: "GET",
            success: function (data)
            {                
                location.reload();
            },
            error: function (data) {
                alert("Error in final brand Loading");
            }
        });
    }
</script>

