@model UPExciseLTE.Models.UnitTank
@{
    ViewBag.Title = "Unit Tank";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (ViewBag.Msg != null && ViewBag.Msg != string.Empty)
    {
        <script type="text/javascript"> var msg = '@ViewBag.Msg'; alert(msg);</script>
    }
}
<script type="text/javascript">
    $(document).ready(function () {
        if (document.getElementById("txtUnitTank").value.trim() != "") {
            document.getElementById("btnSubmit").innerHTML = "Update";
        }
    });
    function isfloatNumber(txt, evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode == 46) {
            //Check if the text already contains the . character
            if (txt.value.indexOf('.') === -1) {
                return true;
            } else {
                return false;
            }
        } else {
            if (charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;
        }
        return true;
    }
</script>
@using (Html.BeginForm("UnitTank", "MasterForms", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="page-content-inner">
        <div class="row ">
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <span><i class="fa fa-gift"></i>&nbsp; Unit Tank Master&nbsp; (@UserSession.LoggedInUserName.ToString())</span>
                        </div>
                    </div>
                    <div class="portlet-body form" style="background-color:#f5f5f5">
                        <div class="form-body">
                            @Html.HiddenFor(model => model.UnitTankId, new { @id = "hfUnitTankId" })
                            @Html.HiddenFor(model => model.Type, new { @id = "hfUnitTankType" })
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">Unit Tank Name<b style="color:red; font-weight:800">*</b></label>
                                    @Html.TextBoxFor(model => model.UnitTankName, new { @class = "form-control", @id = "txtUnitTank" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Unit Tank Capacity (in Liter)<b style="color:red; font-weight:800">*</b></label>
                                    @Html.TextBoxFor(model => model.UnitTankCapacity, new { @class = "form-control", @id = "txtUnitTankCapacity", @required = "required", @MaxLength = "5", onkeypress = "return isfloatNumber(this, event);" })
                                </div>
                                @*<div class="form-group col-md-4">
                                        <label class="control-label">Unit Tank Bulk Liter</label>
                                        @Html.TextBoxFor(model => model.UnitTankBulkLiter, new {  @class = "form-control", @id = "txtUnitTankBulkLiter" } )
                                    </div>*@
                                @*<div class="form-group col-md-4">
                                    <label class="control-label">Unit Tank Strength<b style="color:red; font-weight:800">*</b></label>
                                    @Html.TextBoxFor(model => model.UnitTankStrength, new { @class = "form-control", @id = "txtUnitTankStrength", @required = "required", onkeypress = "return isfloatNumber(this, event);", @MaxLength = "3" })
                                </div>*@
                                <div class="form-group col-md-4" style="display:none;">
                                    <label class="control-label">Brewery</label>
                                    <div>
                                        @Html.DropDownListFor(m => m.BreweryId, (IEnumerable<SelectListItem>)ViewBag.Brewery, new { @id = "ddlBrewery", @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <center>
                                <div>
                                    <button type="submit" class="btn green" onclick="return Validate();" id="btnSubmit">Save</button>
                                    <button type="button" class="btn danger" style="background-color:crimson; color:white">Reset</button>
                                </div>
                            </center>
                        </div>
                        <div>
                            <table class="table table-striped table-bordered table-hover">
                                <tr>
                                    <th>Unit Tank Id</th>
                                    <th>Unit Tank Name</th>
                                    <th>Unit Tank Capacity (in Liter)</th>
                                    @*<th>Unit Tank Bulk Liter</th>*@
                                    @*<th>Unit Tank Strength</th>*@
                                    <th></th>
                                    <th></th>
                                </tr>
                                @if (ViewBag.UnitTank != null)
                                {
                                    foreach (UnitTank dr in (ViewBag.UnitTank as List<UnitTank>))
                                    {
                                        <tr>
                                            <td>@dr.UnitTankId</td>
                                            <td>@dr.UnitTankName</td>
                                            <td>@dr.UnitTankCapacity</td>
                                            @*<td>@dr.UnitTankBulkLiter</td>*@
                                            @*<td>@dr.UnitTankStrength</td>*@
                                            <td><button type="button" class="btn green" onclick="UnitTankDetails('@dr.Enc_UnitTankId','E')">Edit</button></td>
                                            @if (dr.Status == "A")
                                            {
                                                <td><button type="button" class="btn danger" style="background-color:crimson; color:white" onclick="UnitTankDetails('@dr.Enc_UnitTankId','D')">Deactive</button></td>
                                            }
                                            else
                                            {
                                                <td><button type="button" class="btn green" onclick="UnitTankDetails('@dr.Enc_UnitTankId','A')">Active</button></td>
                                            }
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    function UnitTankDetails(UTId, Status) {
        if (Status == 'E') {
            window.location.assign("../masterforms/UnitTank?A=" + UTId)
            //window.location("UnitTank?A=" + UTId);
        }
        else {
            $.ajax({
                url: '/MasterForms/UpdateUnitTank',
                data: { 'UTId': UTId, 'Status': Status },
                datatype: "json",
                type: "GET",
                success: function (data) {
                    alert(data);
                    window.location = "../MasterForms/UnitTank";
                },
                error: function (data) {
                    alert("Error in Unit Tank Loading");
                }
            });
        }
    }
    function Validate() {
        document.getElementById("txtUnitTank").value = document.getElementById("txtUnitTank").value.trim();
        document.getElementById("txtUnitTankCapacity").value = document.getElementById("txtUnitTankCapacity").value.trim();
        document.getElementById("txtUnitTankStrength").value = document.getElementById("txtUnitTankStrength").value.trim();
        if (document.getElementById("txtUnitTank").value == "") {
            alert("Please Enter Unit Tank Name");
            document.getElementById("txtUnitTank").focus();
            return false;
        }
        if (document.getElementById("txtUnitTankCapacity").value == "" || document.getElementById("txtUnitTankCapacity").value == "0") {
            alert("Please Enter Unit Tank Capacity");
            document.getElementById("txtUnitTankCapacity").focus();
            return false;
        }

    }
</script>
