@model UPExciseLTE.Models.BottelingPlan

@{
    ViewBag.Title = "Update Botteling Plan Entry (Daily Botteling Plan)";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (ViewBag.Msg != null && ViewBag.Msg != string.Empty)
    {
        <script type="text/javascript"> var msg = '@ViewBag.Msg'; alert(msg); window.location = '../MasterForms/BottelingPlanList';</script>
    }
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

@using (Html.BeginForm("UpdateBottelingPlan", "MasterForms", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{

    @Html.ValidationSummary(true)
    <div class="page-content-inner">
        <div class="row ">
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Update Botteling Plan Entry (Daily Botteling Plan)
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.PlanId)
                    @Html.HiddenFor(m => m.Type)
                    <div class="portlet-body form" style="background-color: #f5f5f5">
                        <div class="form-body">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">Date of Plan</label>
                                    @Html.TextBoxFor(m => m.DateOfPlan1, new { @id = "txtDateofPlan1", @class = "form-control", @required = "required", @type = "text" })
                                    @*@Html.TextBoxFor(m => m.DateOfPlan, new { @id = "txtDateofPlan", @class = "form-control", @required = "required", @type = "date" })*@
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Batch No</label>
                                    @Html.TextBoxFor(m => m.BatchNo, new { @id = "txtBatchNo", @class = "form-control", @required = "required" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Brand</label>
                                    @Html.DropDownListFor(m => m.BrandId, (IEnumerable<SelectListItem>)ViewBag.Brand, new { @id = "ddlBrand", @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">For Mapped/ Unmapped Data</label>
                                    @Html.DropDownListFor(m =>m.MappedOrNot, new List<SelectListItem> { new SelectListItem { Text = "Mapped", Value = "1" }, new SelectListItem { Text = "UnMapped", Value = "0" } }, new { @id = "ddlMaped", @class = "form-control" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Liquor Type</label>
                                    @Html.TextBoxFor(m =>m.LiquorType, "", new { @id = "txtLiquorType", @class = "form-control", @required = "required", @readonly = "true" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">License Type</label>
                                    @Html.TextBoxFor(m=>m.LicenceType, "", new { @id = "txtLicenseType", @class = "form-control", @required = "required", @readonly = "true" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">License No</label>
                                    @Html.TextBoxFor(m => m.LicenseNo, "", new { @id = "txtLicenseNo", @class = "form-control", @required = "required", @readonly = "true" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">State</label>
                                    <div>
                                        @Html.DropDownListFor(m => m.StateId, (IEnumerable<SelectListItem>)ViewBag.StateList, new { @id = "ddlState", @class = "form-control", @readonly = true })
                                    </div>
                                </div>
                                <div class="form-group col-md-4" style="display:none">
                                    <label class="control-label">Import</label>
                                    @Html.DropDownListFor(m => m.IsStateSame, new List<SelectListItem> { new SelectListItem { Text = "For UP", Value = "1" }, new SelectListItem { Text = "For Outside UP", Value = "0" } }, new { @id = "ddlImport", @class = "form-control" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Number of Case</label>
                                    @Html.TextBoxFor(m => m.NumberOfCases, new { @id = "txtNoOfCase", @class = "form-control", @required = "required", @onkeyPress = "return IsNumeric(event);", @onkeyUp = "Calculation();" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label" id="lblBoxQuantity">Box-Quantity (In Case)</label>
                                    @Html.TextBoxFor(m => m.QunatityInCaseExport, new { @id = "txtBottleInCase", @class = "form-control", @required = "required", @onkeyPress = "return IsNumeric(event);", @readonly = "true", @onkeyUp = "Calculation();" })
                                    @Html.TextBox("lblBottleInCase", "", new { @id = "lblBottleInCase", @class = "form-control", @readonly = "true", @style = "display:none;" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Quantity In Bottle  (in ml.)</label>
                                    @Html.TextBoxFor(m => m.QuantityInBottleML, "", new { @id = "txtQuantityInBottle", @class = "form-control", @required = "required", @onkeyPress = "return IsNumeric(event);", @readonly = "true" })
                                </div>

                                <div class="form-group col-md-4">
                                    <label class="control-label">Strength of Alcohol</label>
                                    @Html.TextBoxFor(m => m.Strength, "", new { @id = "txtStrength", @class = "form-control", @required = "required", @readonly = "true" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="control-label">Bulk Liter</label>
                                    @Html.TextBoxFor(m => m.BulkLiter, new { @id = "lblBulkLitre", @class = "form-control", @required = "required", @readonly = "true" })
                                </div>
                                <div class="form-group col-md-4" style="display:none">
                                    <label class="control-label">Alcoholic Liter</label>
                                    @Html.TextBoxFor(m => m.AlcoholicLiter, new { @id = "lblAlcoholicLiter", @class = "form-control", @required = "required", @readonly = "true" })
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Total Unit(Cans/Bottles)</label>
                                    @Html.TextBoxFor(m => m.TotalUnitQuantity, new { @id = "lblTotalUnitQuantity", @class = "form-control", @required = "required", @readonly = "true" })
                                </div>
                            </div>
                            
                            </div>
                        <div class="clearfix"></div>
                        <center>
                            <div class="form-actions">
                                <button type="submit" class="btn green">Update</button>
                                <button type="button" class="btn default" style="background-color: #659be0;color:white;border-color:#8E44AD" onclick="GetBrandDetail();">Go to Plan Details</button>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script type="text/javascript">
    function GetBrandDetail() {
        var url = '@Url.Action("BottelingPlanList", "MasterForms", null)';
        window.location.href = url;
    }
</script>
<script type="text/javascript">

    $(document).ready(function () {

        $("#txtDateofPlan").datepicker({

            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true
        });
    });
    $('#ddlBrand').change(function () {
        var BrandId = $('#ddlBrand').val();
        if (BrandId != "-1") {
            BrandChange(BrandId);
        }
    });

    function BrandChange(BrandId) {
        $.ajax({
            url: '/MasterForms/GetBrandDetailsForDDl',
            data: { 'BrandId': BrandId },
            datatype: "json",
            type: "GET",
            success: function (data) {
                var res = data.split(",");
                document.getElementById("txtLiquorType").value = res[0];
                document.getElementById("txtLicenseType").value = res[1];
                document.getElementById("txtLicenseNo").value = res[2];
                document.getElementById("txtBottleInCase").value = res[3];
                document.getElementById("lblBottleInCase").value = res[3];
                document.getElementById("txtQuantityInBottle").value = res[4];
                document.getElementById("txtStrength").value = res[5];
            },
            error: function (data) {
                alert("Error in ModelShop Loading");
            }
        });
    }
    $('#ddlImport').change(function () {
        var BrandId = $('#ddlImport').val();
        if (BrandId == "0") {
            document.getElementById("txtBottleInCase").value = "";
            document.getElementById("txtBottleInCase").readOnly = false;
            document.getElementById("txtNoOfCase").value = "";
            document.getElementById("lblBoxQuantity").innerHTML = "Box-Quantity (In Case of Export)";
        }
        else {
            document.getElementById("txtBottleInCase").value = document.getElementById("lblBottleInCase").value;
            document.getElementById("txtBottleInCase").readOnly = true;
            document.getElementById("lblBoxQuantity").innerHTML = "Box-Quantity (In Case)";
        }
    });
    function Calculation() {
        var NoofCase = document.getElementById("txtNoOfCase").value;
        var txtBottleInCase = document.getElementById("txtBottleInCase").value;
        if (NoofCase != null && NoofCase != '' && txtBottleInCase != null && txtBottleInCase != '') {
            var Quantity = document.getElementById("txtQuantityInBottle").value;

            var lblBulkLitre = (parseFloat(NoofCase) * parseFloat(txtBottleInCase) * parseFloat(Quantity)) / 1000;
            var Strength = document.getElementById("txtStrength").value;
            var AL = lblBulkLitre * Strength / 100;
            var TotalUnit = NoofCase * txtBottleInCase;
            document.getElementById("lblBulkLitre").value = lblBulkLitre;
            document.getElementById("lblAlcoholicLiter").value = AL;
            document.getElementById("lblTotalUnitQuantity").value = TotalUnit;
        }
    }
</script>
