@model IEnumerable<UPExciseLTE.Models.BottelingPlan>

@{
    ViewBag.Title = "Upload CSV File";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (ViewBag.Msg != null && ViewBag.Msg != string.Empty)
    {
        <script type="text/javascript"> var msg = '@ViewBag.Msg'; alert(msg);</script>
    }
}

@using (Html.BeginForm("UploadCSVFile", "MasterForms", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    if (Model.Count() > 0)
    {

        if (Model.FirstOrDefault().Msg != null)
        {
            if (!string.IsNullOrEmpty(Model.FirstOrDefault().Msg.MStatus))
            {

                @Html.Partial("~/Views/Shared/_ErrorMessage.cshtml", Model.FirstOrDefault().Msg)
            }
        }
    }
    <script type="text/javascript">
        $(document).ready(function () {
            $("#danger-alert").show();
        });
        $("#danger-alert").fadeTo(3000, 500).slideUp(500, function () {
            $("#danger-alert").slideUp(500);
        });
        function ValidateCSV() {
            var PlanId = document.getElementById("txtPopEncPlanId").value;
            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {

                var fileUpload = $("#FileUpload1").get(0);
                var files = fileUpload.files;

                // Create FormData object
                var fileData = new FormData();
                var Extsplit = files[0].name.split(".");
                var Ext = Extsplit[Extsplit.length - 1]
                if (Ext != "csv") {
                    alert("Please Upload CSV File");
                    return false;
                }
                fileData.append(PlanId, files[0])
                $.ajax({
                    url: '/MasterForms/UploadCSVFile',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {

                        $('#divResult').html(result);
                        $('#myModal').modal('show');
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        }
        function ShowPopup() {
            $('#myModal2').modal('show');
        }
        function UploadCSV() {
            var BrandId = document.getElementById("txtPopBrandId").value;
            var PlanId = document.getElementById("txtPopPlanId").value;
            var BottlingPlanId = $('#ddlPopBottlingLine').val()
            $.ajax({
                url: '/MasterForms/UploadVerifedCSV',
                data: { 'GatePassId': -1, 'BrandId': BrandId, 'BatchNo': '', 'UploadValue': 1, 'PlanId': PlanId, 'BLID': BottlingPlanId },
                datatype: "json",
                type: "GET",
                success: function (data)
                {
                    alert(data);
                    $('#myModal3').modal('toggle')
                    /*var modal = document.getElementById('myModal3');
                    modal.style.display = "none";*/
                },
                error: function (data) {
                    alert("Error in Upload CSV Loading");
                }
            });
        }
        function UploadCSVPOPUP(EncPlanId, PlanId, BrandId, DateOfPlan1, Brand, BBTId) {
            document.getElementById("txtPopPlanId").value = PlanId;
            document.getElementById("txtPopEncPlanId").value = EncPlanId;
            document.getElementById("txtPopBrandId").value = BrandId;
            document.getElementById("txtPopPlanDate").value = DateOfPlan1;
            document.getElementById("txtPopBrandName").value = Brand;
            document.getElementById("hfPopBBTId").value = BBTId;

            $('#myModal3').modal('show');
        }
        function CheckRadioSpecifyLine() {
            if (document.getElementById("rbYes").checked) {
                FillBottlingLine();
                document.getElementById("ddlPopBottlingLine").disabled = false;
                document.getElementById("dibBL").style.display = "block";

            }
            else {
                $('#ddlPopBottlingLine').empty();
                var district = '';
                district = district + '<option value=-1>--None--</option>';
                $('#ddlPopBottlingLine').append(district);
                document.getElementById("ddlPopBottlingLine").disabled = true;
                document.getElementById("dibBL").style.display = "none";
            }
        }
        function FillBottlingLine() {
            $.ajax({
                type: "post",
                url: "/MasterForms/GetBottlingTankForddl",
                data: { ddlBBT: document.getElementById("hfPopBBTId").value },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $('#ddlPopBottlingLine').empty();
                    var district = '';
                    for (var i = 0; i < data.length; i++) {
                        district = district + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                    }
                    $('#ddlPopBottlingLine').append(district);
                }
            });
        }
    </script>
    <div class="page-content-inner">
        <div class="row ">
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Upload CSV File
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div>
                            <table class="table table-striped table-bordered table-hover">
                                <tr>

                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.PlanId)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.DateOfPlan1)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.Brand)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.NumberOfCases)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.ProducedNumberOfCases)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.TotalUnitQuantity)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.ProducedTotalUnit)
                                    </th>

                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.WastageBL)
                                    </th>
                                    <th scope="col"></th>

                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PlanId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DateOfPlan1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Brand)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NumberOfCases)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProducedNumberOfCases)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalUnitQuantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProducedTotalUnit)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.WastageBL)
                                        </td>
                                        <td>
                                            <button type="button" class="btn green" id="btnUpload" onclick="UploadCSVPOPUP('@item.EncPlanId','@item.PlanId','@item.BrandId','@item.DateOfPlan1','@item.Brand','@item.BBTId');">Upload CSV</button>
                                            @*<input type="file" class="btn btn-primary required" name="impCSVUpload" id="FileUpload1" value="Upload Gatepass" /><br />*@
                                            @*<button type="submit" class="btn green" onclick="return ValidateExtension(this)">Upload CSV</button>*@
                                            @*<button type="button" class="btn green" id="btnUpload" onclick="ValidateCSV('@item.EncPlanId');" >Validate CSV</button>*@
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                    <div id='myModal3' class='modal fade' role='dialog'>
                        <div class='modal-dialog'>
                            <div class='modal-content'>
                                <div class='portlet box green'>
                                    <div class='portlet-title'><div class='caption'><div>Upload CSV</div></div><button type='button' class='close' data-dismiss='modal' style='margin-top:15px'>&times;</button></div><div class='portlet-body form' style='background-color:#f5f5f5'>
                                        <div>
                                            <div class='modal-body'>
                                                <div class="row">
                                                    @Html.Hidden("txtPopEncPlanId", "", new { @id = "txtPopEncPlanId" })
                                                    @Html.Hidden("hfPopBBTId", "", new { @id = "hfPopBBTId" })
                                                    @Html.Hidden("txtPopBrandId", "", new { @id = "txtPopBrandId" })
                                                    <div class="form-group  col-md-2">
                                                        <label class="control-label">PlanId</label>
                                                        @Html.TextBox("txtPopPlanId", "", new { @id = "txtPopPlanId", @class = "form-control", @readonly = true })
                                                    </div>
                                                    <div class="form-group  col-md-3">
                                                        <label class="control-label">Plan Date</label>
                                                        @Html.TextBox("txtPopPlanDate", "", new { @id = "txtPopPlanDate", @class = "form-control", @readonly = true })
                                                    </div>
                                                    <div class="form-group  col-md-6">
                                                        <label class="control-label">Brand Name</label>
                                                        @Html.TextBox("txtPopBrandName", "", new { @id = "txtPopBrandName", @class = "form-control", @readonly = true })
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="form-group  col-md-6">
                                                        <label class="control-label">Specify Line</label><br />
                                                        <input type="radio" id="rbYes" name="rbLine" value="Yes" onclick="CheckRadioSpecifyLine();" />Yes
                                                        <input type="radio" id="rbNo" name="rbLine" value="No" checked="checked" onclick="CheckRadioSpecifyLine();" />No
                                                    </div>
                                                    <div class="form-group  col-md-6" id="dibBL" style="display:none">
                                                        <label class="control-label">Bottling Line</label>
                                                        <select id="ddlPopBottlingLine" class="form-control" disabled> <option value="-1">--None--</option> </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group  col-md-6">
                                                        <label class="control-label">Choose File</label>
                                                        <input type="file" class="btn default" name="impCSVUpload" id="FileUpload1" value="Upload Gatepass" />
                                                    </div>

                                                </div>


                                                <div class="clearfix"></div>
                                                <br />
                                                <center>
                                                    <button type="button" class="btn green" id="btnUpload" onclick="ValidateCSV();">Validate CSV</button>
                                                    <button type='button' class='btn danger' style='background-color:crimson; color:white' data-dismiss='modal'>Close</button>
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="divResult"></div>
                    <div class="form-body">
                        <div id="divTable"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
